<p id="notice"><%= notice %></p>

<h1>Meet Us</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Profile text</th>
      <th>Style text</th>
      <th>Expertise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bios.each do |bio| %>
      <tr>
        <td><%= bio.user_id %></td>
        <td><%= bio.profile_text %></td>
        <td><%= bio.style_text %></td>
        <td><%= bio.expertise %></td>
        <td><%= link_to 'Show', bio %></td>
        <td><%= link_to 'Edit', edit_bio_path(bio) %></td>
        <td><%= link_to 'Destroy', bio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bio', new_bio_path %>
