<h1>Meet Us</h1>

<div class="container">

  <% @bios.each do |bio| %> 
    <div class="panel panel-default row">
        <div class="col" style="padding: 20px;">
          <img src="<%=bio.profile_image%>" class="img-rounded" height="350px" alt="/assets/branding/DreamCatcherLogo01.png">
        </div>

        <div class="col">
          <div class="row">
            <h1><%= @bio_users.select{|u| u.id == bio.user_id}[0].first_name %> <%= @bio_users.select{|u| u.id == bio.user_id}[0].last_name %></h1>
          </div>

          <div class="row">
            <%= bio.profile_text %>
          </div>

          <div class="row">
            <%= bio.style_text %>
          </div>

          <div class="row">
            <div class="flexbox">
              <%= bio.expertise %>
            </div>
          </div>        
        </div>
    </div>

  <% end %>

</div>