<center><%= render '/shared/public_logo_and_nav' %></center>

<hr />

<section>
  <div class="column">First</div>
  <div class="column">Second</div>
  <div class="column">Third</div>
</section>

<% @bios.each do |bio| %> 
  <div class="bio_coach_profile">
    <div class="name">
      <%= @bio_users.select{|u| u.id == bio.user_id}[0].first_name %> <%= @bio_users.select{|u| u.id == bio.user_id}[0].last_name %>
      <hr />
    </div>
    <div class="pic">
      <img src="<%=bio.profile_image%>" class="img-rounded" height="350px" alt="/assets/branding/DreamCatcherLogo01.png">
    </div>
    <div class="body">
      <%= bio.profile_text %>
      <hr />
      Style: <%= bio.style_text %>
      <br />
      Expertise: <%= bio.expertise %>
    </div>
  </div>
  <hr />
<% end %>
