    <!--           <div class="col-10  pull-right"  style="margin-top: 100px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Admin Users</h4>
                                 <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th>
                                              Id
                                            </th>
                                            <th>
                                              Name
                                            </th>
                                            <th>
                                              Email
                                            </th>
                                            <th>
                                              Coach?
                                            </th>
                                            <th>
                                              Admin?
                                            </th>
                                            <th>
                                              Active?
                                            </th>
                                            <th>
                                              Deleted?
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% if @admins != nil %>
                                            <% @admins.each do |u| %>
                                              <tr class="<%= u.is_active? ? '' : 'inactive_table_row_item' %>">

                                                <th>
                                                  <%= u.id %>
                                                </th>
                                                <th>
                                                  <%= u.first_name %> <%= u.last_name %>
                                                </th>
                                                <th>
                                                  <%= u.email %>
                                                </th>
                                                <th>
                                                  <%= u.is_a_coach %>   <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                                <th>
                                                  <%= u.is_an_admin %>   <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                                <th>
                                                  <%= u.is_active %>   <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                                <th>
                                                  <%= u.is_deleted %>   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                              </tr> 
                                            <% end %>
                                          <% end %>
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                    <p style="color:red;" style="text-align: left;">
                                      Warning: Toggling your own Admin priviliges will lock you out of the system immediately.
                                    </p>
                                <hr>
                            </div>
                        </div>
                    </div>
  

                    <div class="col-10  pull-right"  style="margin-top: 100px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Coaches</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                          <th>
                                            Id
                                          </th>
                                          <th>
                                            Name
                                          </th>
                                          <th>
                                            Email
                                          </th>
                                          <th>
                                            Coach?
                                          </th>
                                          <th>
                                            Admin?
                                          </th>
                                          <th>
                                            Active?
                                          </th>
                                          <th>
                                            Deleted?
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% if @coaches != nil %>
                                          <% @coaches.each do |u| %>
                                            <tr class="<%= u.is_active? ? '' : 'inactive_table_row_item' %>">
                                              <th>
                                                <%= u.id %>
                                              </th>
                                              <th>
                                                <%= u.first_name %> <%= u.last_name %>
                                              </th>
                                              <th>
                                                <%= u.email %>
                                              </th>
                                              <th>
                                                <%= u.is_a_coach %>   <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                              <th>
                                                <%= u.is_an_admin %>   <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                              <th>
                                                <%= u.is_active %>   <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                              <th>
                                                <%= u.is_deleted %>   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                            </tr> 
                                          <% end %>
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                     <div class="col-10  pull-right"  style="margin-top: 100px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Users</h4>
                                 <div class="table-responsive">
                                    <table class="table table-bordered">
                                       <thead>
                                        <tr>
                                          <th>
                                            Id
                                          </th>
                                          <th>
                                            Name
                                          </th>
                                          <th>
                                            Email
                                          </th>
                                          <th>
                                            Coach?
                                          </th>
                                          <th>
                                            Admin?
                                          </th>
                                          <th>
                                            Active?
                                          </th>
                                          <th>
                                            Deleted?
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% if @users != nil %>
                                          <% @users.each do |u| %>
                                            <tr class="<%= u.is_active? ? '' : 'inactive_table_row_item' %>">
                                              <th>
                                                <%= u.id %>
                                              </th>
                                              <th>
                                                <%= u.first_name %> <%= u.last_name %>
                                              </th>
                                              <th>
                                                <%= u.email %>
                                              </th>
                                              <th>
                                                <%= u.is_a_coach %>   <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                              <th>
                                                <%= u.is_an_admin %>   <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                              <th>
                                                <%= u.is_active %>   <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                              <th>
                                                <%= u.is_deleted %>   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a>
                                              </th>
                                            </tr> 
                                          <% end %>
                                        <% end %>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="col-10  pull-right"  style="margin-top: 100px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Users To Confirm (Toggle "Admin" FIRST)</h4>
                                <h6 class="card-subtitle" style="color:red;">[Right now, we need to click the Toggle button on both "Coach" and "Admin" permissions to approve the user's membership. Before this step, they will not see anything on their dashboard. Toggling both permissions will result in both being set to False; then you may approve them for coach or admin priviliges. Note: This will also need to be done if the user needs to be deleted without approval. Set both permissions to False, THEN toggle the Is Deleted property.]</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th>
                                              Id
                                            </th>
                                            <th>
                                              Name
                                            </th>
                                            <th>
                                              Email
                                            </th>
                                            <th>
                                              Coach?
                                            </th>
                                            <th>
                                              Admin?
                                            </th>
                                            <th>
                                              Active?
                                            </th>
                                            <th>
                                              Deleted?
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% if @users_to_confirm != nil %>
                                            <% @users_to_confirm.each do |u| %>
                                              <tr>
                                                <th>
                                                  <%= u.id %>
                                                </th>
                                                <th>
                                                  <%= u.first_name %> <%= u.last_name %>
                                                </th>
                                                <th>
                                                  <%= u.email %>
                                                </th>
                                                <th>
                                                  <%= u.is_a_coach %>   <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                                <th>
                                                  <%= u.is_an_admin %>   <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                                <th>
                                                  <%= u.is_active %>   <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                                <th>
                                                  <%= u.is_deleted %>   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                              </tr> 
                                            <% end %>
                                          <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>   


                  <div class="col-10  pull-right"  style="margin-top: 100px;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Deleted Users</h4>
                                <h6 class="card-subtitle" style="color:red;">[Toggling the Is Deleted property to True will place the user into the below table. Toggling Deleted to False will place the user into its proper table above for further edits. "Deleting" a user is essentially the same as making a user inactive, but a Deleted user will remain out of the way, and so is intended for more permanent removals. Note that neither status change will result in the actual destruction of records.]</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th>
                                              Id
                                            </th>
                                            <th>
                                              Name
                                            </th>
                                            <th>
                                              Email
                                            </th>
                                            <th>
                                              Deleted?
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% if @deleted_users != nil %>
                                            <% @deleted_users.each do |u| %>
                                              <tr>
                                                <th>
                                                  <%= u.id %>
                                                </th>
                                                <th>
                                                  <%= u.first_name %> <%= u.last_name %>
                                                </th>
                                                <th>
                                                  <%= u.email %>
                                                </th>
                                                <th>
                                                  <%= u.is_deleted %>   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a>
                                                </th>
                                              </tr> 
                                            <% end %>
                                          <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>  
-->



	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
		  <!-- <div class="kt-subheader   kt-grid__item" id="kt_subheader">
			 <div class="kt-subheader__toolbar">
				<div class="kt-subheader__wrapper"></div>
			 </div>
		  </div> -->
		  <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
			 <div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__head">
				   <div class="kt-portlet__head-label">
					  <h3 class="kt-portlet__head-title">
						Admin Users
					  </h3>
				   </div>
				</div>
				<div class="kt-portlet__body">
				   <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_2">
					   <thead>
						  <tr>
							<th>
							  Id
							</th>
							<th>
							  Name
							</th>
							<th>
							  Email
							</th>
							<th>
							  Coach?
							</th>
							<th>
							  Admin?
							</th>
							<th>
							  Active?
							</th>
							<th>
							  Deleted?
							</th>
						  </tr>
						</thead>
						<tbody>
						  <% if @admins != nil %>
							<% @admins.each do |u| %>
							  <tr class="<%= u.is_active? ? '' : 'inactive_table_row_item' %>">

								<td>
								  <%= u.id %>
								</td>
								<td>
								  <%= u.first_name %> <%= u.last_name %>
								</td>
								<td>
								  <%= u.email %>
								</td>
								<td>
                   <% if u.is_a_coach == true %>
                      <% activeadmin_coach = 'checked=checked' %>
                   <% else %>
                      <% activeadmin_coach = "" %>
                   <% end %>

                 <!--  <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" name="" <%= activeadmin_coach %> class="toggle" url="/toggle_coach/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								</td>
								<td>
								  
                   <% if u.is_an_admin == true %>
                      <% active_admin = 'checked=checked' %>
                   <% else %>
                      <% active_admin = "" %>
                   <% end %>
                   <!--  <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" name="" <%= active_admin %> class="toggle" url="/toggle_admin/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								</td>

								<td>
                 <% if u.is_active == true %>
                    <% active_check = 'checked=checked' %>
                 <% else %>
                    <% active_check = "" %>
                 <% end %>
                 <!--  <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" name="" <%= active_check %> class="toggle" url="/toggle_active/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								</td>

								<td>
                 <% if u.is_deleted == true %>
                    <% active_delete = 'checked=checked' %>
                 <% else %>
                    <% active_delete = "" %>
                 <% end %>
                  <!--   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a> -->
                   <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" <%= active_delete %> name="" class="toggle" url="/toggle_deleted/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								</td>

							  </tr> 
							<% end %>
						  <% end %>
						</tbody>
				   </table>
				</div>
				<hr>
				<div class="kt-portlet__head">
					<p style="color:red;" style="text-align: left;">
					  Warning: Toggling your own Admin priviliges will lock you out of the system immediately.
					</p>
				</div>	
				<hr>
			 </div>
		  </div>
		  
		  
		  
		  		  <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
			 <div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__head">
				   <div class="kt-portlet__head-label">
					  <h3 class="kt-portlet__head-title">
						Coaches
					  </h3>
				   </div>
				</div>
				<div class="kt-portlet__body">
				   <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_2">
					   <thead>
						<tr>
						  <th>
							Id
						  </th>
						  <th>
							Name
						  </th>
						  <th>
							Email
						  </th>
						  <th>
							Coach?
						  </th>
						  <th>
							Admin?
						  </th>
						  <th>
							Active?
						  </th>
						  <th>
							Deleted?
						  </th>
						</tr>
					  </thead>
					  <tbody>
						<% if @coaches != nil %>
						  <% @coaches.each do |u| %>
							<tr class="<%= u.is_active? ? '' : 'inactive_table_row_item' %>">
							  <td>
								<%= u.id %>
							  </td>
							  <td>
								<%= u.first_name %> <%= u.last_name %>
							  </td>
							  <td>
								<%= u.email %>
							  </td>
							  <td>
                 <% if u.is_a_coach == true %>
                      <% active_coach = 'checked=checked' %>
                 <% else %>
                      <% active_coach = "" %>
                 <% end %>
                 <!-- <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a> -->
                 <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox"  <%= active_coach %>   name="" class="toggle" url="/toggle_coach/<%= u.id %>">
                           <span></span>
                      </label>
                 </span>
							  </td>
							  <td>
                   <% if u.is_an_admin == true %>
                      <% active_coach_admin = 'checked=checked' %>
                   <% else %>
                      <% active_coach_admin = "" %>
                   <% end %>
               <!--   <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a> -->
                 <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox"  <%= active_coach_admin %>   name="" class="toggle" url="/toggle_admin/<%= u.id %>">
                           <span></span>
                      </label>
                 </span>
							  </td>
							  <td>
                 <% if u.is_active == true %>
                      <% active_coach_coaches = 'checked=checked' %>
                   <% else %>
                      <% active_coach_coaches = "" %>
                   <% end %>
                <!--  <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a> -->
                 <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" <%= active_coach_coaches %>   name="" class="toggle" url="/toggle_active/<%= u.id %>">
                           <span></span>
                      </label>
                 </span>
							  </td>
							  <td>
                   <% if u.is_active == true %>
                      <% delete_coach_admin = 'checked=checked' %>
                   <% else %>
                      <% delete_coach_admin = "" %>
                   <% end %>
                <!--   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a> -->
                 <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" <%= delete_coach_admin %>  name="" class="toggle" url="/toggle_deleted/<%= u.id %>">
                           <span></span>
                      </label>
                 </span>
							  </td>
							</tr> 
						  <% end %>
						<% end %>
					  </tbody>
				   </table>
				</div>
				
			 </div>
		  </div>
		  
		  
		  
		  
		  		  <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
			 <div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__head">
				   <div class="kt-portlet__head-label">
					  <h3 class="kt-portlet__head-title">
						Users
					  </h3>
				   </div>
				</div>
				<div class="kt-portlet__body">
				   <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_4">
					    <thead>
							<tr>
							  <th>
								Id
							  </th>
							  <th>
								Name
							  </th>
							  <th>
								Email
							  </th>
							  <th>
								Coach?
							  </th>
							  <th>
								Admin?
							  </th>
							  <th>
								Active?
							  </th>
							  <th>
								Deleted?
							  </th>
							</tr>
						  </thead>
						  <tbody>
							<% if @users != nil %>
							  <% @users.each do |u| %>
								<tr class="<%= u.is_active? ? '' : 'inactive_table_row_item' %>">
								  <td>
									<%= u.id %>
								  </td>
								  <td>
									<%= u.first_name %> <%= u.last_name %>
								  </td>
								  <td>
									<%= u.email %>
								  </td>
								  <td>
                   <% if u.is_a_coach == true %>
                      <% active_user_coach = 'checked=checked' %>
                   <% else %>
                      <% active_user_coach = "" %>
                   <% end %>
                  <!--  <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox"  <%= active_user_coach %> name="" class="toggle" url="/toggle_coach/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								  </td>
								  <td>
                   <% if u.is_an_admin == true %>
                      <% active_user_admin = 'checked=checked' %>
                   <% else %>
                      <% active_user_admin = "" %>
                   <% end %>
                  <!--   <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" <%= active_user_admin %> name="" class="toggle" url="/toggle_admin/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								  </td>
								  <td>
                   <% if u.is_active == true %>
                      <% active_user_active = 'checked=checked' %>
                   <% else %>
                      <% active_user_active = "" %>
                   <% end %>
                  <!--   <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox"   <%= active_user_active %> name="" class="toggle" url="/toggle_active/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								  </td>
								  <td>
                   <% if u.is_deleted == true %>
                      <% active_user_delete = 'checked=checked' %>
                   <% else %>
                      <% active_user_delete = "" %>
                   <% end %> 
                  <!--  <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox"  <%= active_user_delete %> name="" class="toggle" url="/toggle_deleted/<%= u.id %>">
                           <span></span>
                      </label>
                  </span>
								  </td>
								</tr> 
							  <% end %>
							<% end %>
						  </tbody>
				   </table>
				</div>
				
			 </div>
		  </div>
		  
		  
		  
		  
		  		  <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
			 <div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__head">
				   <div class="kt-portlet__head-label">
					  <h3 class="kt-portlet__head-title">
						Users To Confirm (Toggle "Admin" FIRST)
					  </h3>
				   </div>
				</div>
				<div class="kt-portlet__head">
				<h6 class="kt-portlet__head-title" style="color:red;">[Right now, we need to click the Toggle button on both "Coach" and "Admin" permissions to approve the user's membership. Before this step, they will not see anything on their dashboard. Toggling both permissions will result in both being set to False; then you may approve them for coach or admin priviliges. Note: This will also need to be done if the user needs to be deleted without approval. Set both permissions to False, THEN toggle the Is Deleted property.]</h6>
				</div>
				<div class="kt-portlet__body">
				   <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_5">
					    <thead>
							  <tr>
								<th>
								  Id
								</th>
								<th>
								  Name
								</th>
								<th>
								  Email
								</th>
								<th>
								  Coach?
								</th>
								<th>
								  Admin?
								</th>
								<th>
								  Active?
								</th>
								<th>
								  Deleted?
								</th>
							  </tr>
							</thead>
							<tbody>
							  <% if @users_to_confirm != nil %>
								<% @users_to_confirm.each do |u| %>
								  <tr>
									<td>
									  <%= u.id %>
									</td>
									<td>
									  <%= u.first_name %> <%= u.last_name %>
									</td>
									<td>
									  <%= u.email %>
									</td>
									<td>
									  <%= u.is_a_coach %> 
                     <% if u.is_a_coach == true %>
                        <% active_user_admin_coach = 'checked=checked' %>
                     <% else %>
                        <% active_user_admin_coach = "" %>
                     <% end %> 
                    <!--   <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a> -->
                    <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" <%= active_user_admin_coach %> name="" class="toggle" url="/toggle_coach/<%= u.id %>">
                           <span></span>
                      </label>
                    </span>
									</td>
									<td>
                     <% if u.is_an_admin == true %>
                        <% active_user_admin_admin = 'checked=checked' %>
                     <% else %>
                        <% active_user_admin_admin = "" %>
                     <% end %> 
                    <!--  <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a> -->
                     <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" <%= active_user_admin_admin %> name="" class="toggle" url="/toggle_admin/<%= u.id %>">
                           <span></span>
                      </label>
                     </span>
									</td>
									<td>
                    <% if u.is_an_admin == true %>
                        <% active_user_admin_active = 'checked=checked' %>
                     <% else %>
                        <% active_user_admin_active = "" %>
                     <% end %> 
                    <!--   <a href="/toggle_active/<%= u.id %>"><button>Toggle</button></a> -->
                     <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox"  <%= active_user_admin_active %> name="" class="toggle" url="/toggle_active/<%= u.id %>">
                           <span></span>
                      </label>
                     </span>
									</td>
									<td>
                    <% if u.is_deleted == true %>
                        <% active_user_admin_delete = 'checked=checked' %>
                     <% else %>
                        <% active_user_admin_delete = "" %>
                     <% end %> 
                    <!--  <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a> -->
                     <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox" <%= active_user_admin_delete %> name="" class="toggle" url="/toggle_deleted/<%= u.id %>">
                           <span></span>
                      </label>
                     </span>
									</td>
								  </tr> 
								<% end %>
							  <% end %>
							</tbody>
				   </table>
				</div>
			 </div>
		  </div>
		  
		  
		  
		  
		  		  <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
			 <div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__head">
				   <div class="kt-portlet__head-label">
					  <h3 class="kt-portlet__head-title">
						Deleted Users
					  </h3>
				   </div>
				</div>
				<div class="kt-portlet__head">
				 <h6 class="kt-portlet__head-title" style="color:red;">[Toggling the Is Deleted property to True will place the user into the below table. Toggling Deleted to False will place the user into its proper table above for further edits. "Deleting" a user is essentially the same as making a user inactive, but a Deleted user will remain out of the way, and so is intended for more permanent removals. Note that neither status change will result in the actual destruction of records.]</h6>
				</div> 
				<div class="kt-portlet__body">
				   <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_6">
					 <thead>
						  <tr>
							<th>
							  Id
							</th>
							<th>
							  Name
							</th>
							<th>
							  Email
							</th>
							<th>
							  Deleted?
							</th>
						  </tr>
						</thead>
						<tbody>
						  <% if @deleted_users != nil %>
							<% @deleted_users.each do |u| %>
							  <tr>
								<td>
								  <%= u.id %>
								</td>
								<td>
								  <%= u.first_name %> <%= u.last_name %>
								</td>
								<td>
								  <%= u.email %>
								</td>
								<td>
                   <% if u.is_deleted == true %>
                        <% active_deleted_users = 'checked=checked' %>
                     <% else %>
                        <% active_deleted_users = "" %>
                     <% end %> 
                  <!--   <a href="/toggle_deleted/<%= u.id %>"><button>Toggle</button></a> -->
                  <span class="kt-switch kt-switch--sm kt-switch--brand toggle">
                      <label>
                        <input type="checkbox"  <%= active_deleted_users %> name="" class="toggle" url="/toggle_deleted/<%= u.id %>">
                           <span></span>
                      </label>
                   </span>
								</td>
							  </tr> 
							<% end %>
						  <% end %>
						</tbody>
				   </table>
				</div>
				
			 </div>
		  </div>
		  
		  
		  
	   </div>




