  <div class="red-text">
    <h1>ADMINISTRATIVE DASHBOARD</h1>
  </div>
  <div class="red-text-list">
    <h4>
      <a href="/admin_messages">|   Admin Messages   |</a>
      <a href="/mentorships">|   Mentorships Index   |</a>
      <a href="/plans">|   Plans Index   |</a>
      <a href="/messages">|   All User Messages Index   |</a>
      <a href="/permissions">|   Edit User Permissions   |</a>
      
  </div>

<h2>All Users:</h2>
  
  <% @users.each do |u| %>

  ----------------------------------<br>

    <li>ID: <%= u.id %></li>
    <li><h3><%= u.first_name %> <%= u.last_name %></h3></li>
    <li>Email: <%= u.email %></li>
    <li>Coach Priviliges: <%= u.is_a_coach? %><a href="/toggle_coach/<%= u.id %>">---TOGGLE!</a></li>
    <li>Admin Priviliges: <%= u.is_an_admin? %><a href="/toggle_admin/<%= u.id %>">---TOGGLE!</a></li>
    <% end %>

  ----------------------------------<br>
 
  <h2>Admin messages</h2> 
  
  <% @all_admin_messages.each do |a| %>
    <li>From: <%= a.from_name %></li>
    <li>Email: <%= a.from_email %></li>
    <li>Message: <%= a.content %></li>

    ----------------------------------<br>

  <% end %>

  <a href="/admin_messages">Admin Messages Index</a><br>

  //////////////////////////////////////////

  <h2>All coaches</h2>

  <% @all_coaches.each do |x| %>
    <li>ID:<%= x.id %>, <%= x.first_name %> <%= x.last_name %><%= x.email %></li>

    ----------------------------------<br>

  <% end %>


  <h2>All clients</h2>
  
  <% @all_clients.each do |y| %>
    <li>ID:<%= y.id %>, <%= y.first_name %> <%= y.last_name %><%= y.email %></li>

    ----------------------------------<br>

  <% end %>

  //////////////////////////////////////////

  <h2>All mentorships</h2>
  
  <% @all_mentorships.each do |z| %>
    <li>Coach # <%= z.coach %> & Client # <%= z.client %></li>

    ----------------------------------<br>

  <% end %>

  <a href="/mentorships">Mentorships Index</a><br>

  //////////////////////////////////////////


  <h2>All plans</h2>
  
  <% @all_plans.each do |z| %>
    <li>Client # <%= z.client %></li>
    <li>Title: <%= z.title %></li>
    <li>Content: <%= z.content %></li>

    ----------------------------------<br>

  <% end %>

  <a href="/plans">Plans Index</a><br>

  //////////////////////////////////////////

  <h2>All messages</h2>
  
  <% @all_messages.each do |m| %>
    <li>From User # <%= m.from %></li>
    <li>To User # <%= m.to %></li>
    <li>Message: <%= m.content %></li>

    ----------------------------------<br>

  <% end %>

  <a href="/messages">All User Messages Index</a><br>

  //////////////////////////////////////////

