    <div class="row">  
      <h2 style="color:red; float:left; margin-left:25%;">ADMIN DASHBOARD</h2>
      <ul class="dropdown" style="text-decoration:none; float:left;">
        <a class="btn btn-default " role="button" data-toggle="dropdown" href="#">
         <h4 style="margin:0px;">Navigate</h4></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <li><a href="/">Users</a></li>
          <li><a href="/admin_messages">Admin Messages</a></li>
          <li><a href="/mentorships">Mentorships</a></li>
          <li><a href="/plans">Plans</a></li>
          <li><a href="/messages">User Messages</a></li>
          <li><a href="/groups">Groups</a></li>
          <li><a href="/content_fields">Content Fields</a></li>
          <li><a href="/bios">Public Bios</a></li>
        </ul>
      </ul>
    </div>
  <h1>All Users</h1>
  <table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Coach?
        </th>
        <th>
          Admin?
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @users != nil %>
        <% @users.each do |u| %>
          <tr>
            <th>
              <%= u.id %>
            </th>
            <th>
              <%= u.first_name %> <%= u.last_name %>
            </th>
            <th>
              <%= u.email %>
            </th>
            <th>
              <%= u.is_a_coach %>   <a href="/toggle_coach/<%= u.id %>"><button>Toggle</button></a>
            </th>
            <th>
              <%= u.is_an_admin %>   <a href="/toggle_admin/<%= u.id %>"><button>Toggle</button></a>
            </th>
          </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table>
<h2 class="red-text">
  WARNINGS: 
</h2>
  <hr>
    <p class="red-text" style="text-align: left;">
      1. Toggling your own Admin priviliges will lock you out of the system immediately.
        <br>
      2. Disabling Coach permissions for a User will delete any and all Mentorship records listing that User as 'Coach'.
    </p>

