<!-- Nav tabs -->

<div style="margin-left:25px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/user/dashboard" style="font-size: 1.6em;">HOME</a></li>
    <li><a href="/user/group-dashboard" style="font-size: 1.6em;">GROUPS</a></li>
  </ul>
</div> 

<!-- End of Nav Tabs -->

<div class="simple-spacer" style="margin-top: 20px;"/>

 <!-- MAIN -->

<div class="container">

  <div class="container content-field" id="clientDashHeadline">
    <%= raw @clientDashHeadLine.value %>
  </div>

  <div class="row">
    <div class="col-md-2">

      <!-- Left -->
      <% if @coaches_for_client.nil? == false %>
        <% if @coaches_for_client.count > 1 %>
          <strong style="font-size: 1.6em;">My Coaches</strong>
        <% else %>
          <strong style="font-size: 1.6em;">My Coach</strong>
        <% end %>
        <hr>
        <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>

        

      <!-- Coach List -->

        <% @coaches_for_client.each do |c| %>

          <!-- If active user, changes background color of pill. -->

          <% if @active_user_id != nil && @active_user_id == c.id %>
              <li class="btn-default" id="active-user-in-list">
                <a href="/user/dashboard/<%=c.id%>">
                  <%= c.first_name %> <%= c.last_name %>
                </a>
              </li>

          <% else %>
            <li class="btn-default">
              <a href="/user/dashboard/<%=c.id%>">
                <%= c.first_name %> <%= c.last_name %>
              </a>
            </li>
          <% end %>
            
            <li class="divider"></li>
            
        <% end %> <!-- End of Each COACH DO -->

        <% else %> <!-- If @coaches_for_client == nil -->
          Contact Admin <br>  to get a Coach.
        <% end %>

      <!-- / Coach List -->

      </ul>

    </div><!-- /span-3 -->

    <!-- Large Right Column -->

    <div class="col-md-10">

    <!-- Middle Column, where the PLANS live. [ @client_plans ]-->

    <div class="row">
            <div class="col-md-5">

            <% if @client_plans.nil? == false %>
              <% @client_plans.each do |plan| %>
                <div class="panel panel-default">
                  <div class="panel-heading">

                    <strong><%= plan.title %></strong>
                    <div class="edit-delete-plan-buttons">

                      <a href="/plans/<%=plan.id%>/edit">
                        <div class="glyphicon glyphicon-pencil"></div>
                      </a>
                      
                      <a data-confirm="Are you sure that you want to DELETE this Plan?" rel="nofollow" data-method="delete" href="/plans/<%=plan.id%>">
                        <div class="glyphicon glyphicon-remove">
                        </div>
                      </a>
                      
                    </div>
                    <br>

                    <div class="created-timestamp">
                      <%= localize(Time.at(plan.created_at), :format => :default) %>
                    </div>
                    
                    <% if plan.created_at != plan.updated_at %>
                      <div class="updated-timestamp">
                        UPDATED AT: <%= localize(Time.at(plan.updated_at), :format => :default) %>
                      </div>
                    <% end %>

                  </div>

                  <div class="panel-body">
                    <% if plan.content != nil %>
                      <%= plan.content.html_safe %>
                    <% end %>
                  </div>
                </div>
               <% end %>
            <% else %>
                  <div class="panel panel-default">
                  <div class="panel-heading">
                    <br>
                  </div>
                  <div class="panel-body">
                    You have no current plans.
                  </div>
            <% end %>

            <!-- //////////////"Add Plan" form.//////////////// -->

            
            <div class="panel panel-default">
              <div class="panel-heading">
                    <strong>Create a New Plan</strong>
              </div>

              <div class="panel-body">
                <div class="add-plan-form"> 
                  <%= render template: "plans/new/" %>
                </div>
              </div>
            </div>  

          <!-- ////////////////////////////// -->
          </div>


<!-- THIS IS THE RIGHT COLUMN, WHERE THE ACTIVE CLIENT'S MESSAGE HISTORY LIVES -->

<!-- /////////////////////////////////// -->

<!-- //////////////////////////////////// -->

      <div class="col-md-7">

       <div class="row">
        <div class="col-span">

          <% if @active_user != nil %>

            <div class="panel panel-default">
              <div class="panel-heading">
                
                       
                  <strong>Direct Messages with <%= @active_user.first_name %>:</strong>

                

              </div>
                    
              <div class="panel-body">
                    
                <% if @all_active_user_messages_sorted_by_timestamp.nil? == false %>

                  <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
                        
                    <% if m.nil? == false %>

                      <% if m.from == current_user.id %>

                        <div class="outgoing-bubble">
                          <%= m.content %>
                        </div>

                        <div class="bubble-spacer">
                        </div>

                      <% else %>

                        <div class="incoming-bubble">
                        <%= m.content %>
                        </div>

                        <div class="bubble-spacer">
                        </div>
                              
                      <% end %>

                    <% else %>
                    <% end %>

                  <% end %>

                <% else %>
                <% end %>
                    
              </div> <!-- END of Panel-Body -->

            </div> <!-- END of Panel -->
       
<!-- ////////////////////////////// -->

            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Create a New Direct Message</strong>
              </div>

              <div class="panel-body">
                <div class="send-message-form"> 
                  <%= render template: "messages/new" %>
                </div>
              </div>  
            </div>    

<!-- ////////////////////////////// -->

          <% end %> <!-- END of IF @active_user != nil -->

        </div> <!-- END of Col-Span -->
      </div> <!-- END of Row -->

<!-- ////////////////////////////// -->

      </div><!--/col-->
     
      </div><!--/row-->

    </div><!--/col-->

  </div>

  </div>

  <!-- / Main -->
