<!-- MAIN -->

<div class="container">
<div class="row">
  <div class="col-md-2">

      <!-- Left -->
      <strong>My Mentor</strong>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>

        <div class="i-dream-i-dare-dashboard-branding">
          i dream i dare
        </div>


      <!-- Coach List -->


        <% if @coaches_for_client.nil? == false %>

          <% @coaches_for_client.each do |coach| %>


          <!-- If active user, change background color of pill. -->
            
              <ul class= "tab">
                <%= coach.first_name %> <%= coach.last_name %></ul>
              <li class="divider"></li>

          <% end %>

        <% else %>
           <!-- DO NOTHING -->
        <% end %>

      <!-- / Coach List -->

      </ul>

    </div><!-- /span-3 -->

    <div class="col-md-10">

        <!-- Buttons from Coach dash -->

        <!-- 
        <a title="New Plan" data-toggle="modal" href="TODO" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-leaf"></span> NEW PLAN</a> 

        <a title="New Message" data-toggle="modal" href="TODO" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send"></span> NEW MESSAGE</a><br><hr> -->
        <br><hr>
        

        <!--/ Buttons from Coach dash -->


        <!-- Inspirational Banner -->
<!-- HEIGHT OF IMAGE NEEDS TO BE 250px, and width should be 950px to accomodate larger screens.-->

          <div class="client-dashboard-banner">
            <div class="dashboard-banner-text">
                "There is no passion to be found
                playing small - in settling for 
                a life that is less than the one 
                you are capable of living."
                <br>
                <br>
                <strong>-Nelson Mandela
                </strong>
            </div>
            
          </div>

        <!--/ Inspirational Banner -->

    <!-- Middle Column, where the PLANS live. Held in @client_plans from controller.-->

    <div class="row">
            <div class="col-md-5">

            <% if @client_plans.nil? == false %>
              <% @client_plans.each do |plan| %>
              <div class="panel panel-default">
                  <div class="panel-heading">

                    <strong><%= plan.title %></strong>
                    <br>

                    <div class="updated-timestamp">
                      <%= plan.updated_at.to_formatted_s %>
                    </div>
                    
                  </div>

                  <div class="panel-body">

                    <%= plan.content %>

                  </div>
                </div>
               <% end %>
            <% else %>
              <!-- DO NOTHING -->
            <% end %>
          </div>


<!-- THIS IS THE RIGHT COLUMN, WHERE THE ACTIVE CLIENT'S MESSAGE HISTORY LIVES -->

<!-- /////////////////////////////////// -->

<!-- OBJECTIVE, in Pseudo-Code: loop through the @incoming_messages and @outgoing_messages, and place the objects into a hash. Sort them by timestamp, and spit them out (float)LEFT for outgoing and (float)RIGHT for incoming.  

<!-- //////////////////////////////////// -->

          <div class="col-md-7">

    <!-- THIS is a simple module, which will be used for the middle and right columns. -->

       
          <div class="col-span">

          <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>MESSAGES</strong>
                  </div>
                  
                  <div class="panel-body">

                    <% @user_messages.each do |m| %>
                      

                        <% if m.from == current_user.id %>

                          <div class="outgoing-bubble">
                          <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>

                        <% else %>

                          <div class="incoming-bubble">
                          <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>
                          
                        <% end %>

                    <% end %>
                  
                  </div>

          </div>
          </div>
     
<!-- ////////////////////////////// -->

            <div class="panel panel-default">

                <div class="panel-body">
                  <div class="send-message-form"> 
                    <%= render template: "messages/new" %>
                  </div>
                </div>
            </div>    

<!-- ////////////////////////////// -->
          

    <!-- / The simple module -->

              <!-- Social Media Icons -->
              <div>
                <i class="icon-bar-chart icon-3x"></i>
                <i class="icon-plus icon-3x"></i>
                <i class="icon-facebook icon-3x"></i>
                <i class="icon-beaker icon-3x"></i>
                <i class="icon-twitter icon-3x"></i>
              <div>  
              <!-- / Social Media Icons -->
              
      </div><!--/col-->
     
      </div><!--/row-->

    </div><!--/col-->

</div>

</div>

<!-- / Main