<div class="simple-spacer" style="margin-top: 20px;"/>

 <!-- MAIN -->

<div class="flex-box">

    <% if @clientDashHeadLine != nil && @clientDashHeadLine.value != "" %>
      <div class="panel panel-default">
        <%= raw @clientDashHeadLine.value %>
      </div>
    <% else %>
      <div class="panel panel-default" id="dashQuote">
        <% if @quote != nil && @quote.body != nil && @quote.author != nil %>
          <div class="quote-body">
            <%= raw @quote.body %>
          </div>
          <div class="quote-author">
            - <%= @quote.author %>
          </div>
        <% end %>
      </div>
    <% end %>
  

  <div class="container">
    <div class="col-md-2" style="float: left;">
        <strong style="font-size: 1.6em; text-align: right;">My Coaches</strong>     
          <% if @coaches_for_client.nil? == false %>
            <% @coaches_for_client.each do |c| %>
              <% if @active_user_id != nil && @active_user_id.to_i == c.id %>
                <a class="btn"><div class="glyphicon glyphicon-chevron-right"></div><%= c.first_name %> <%= c.last_name %></a>
              <% else %>
                <a class="btn" href="/user/dashboard/<%=c.id%>"><div class="glyphicon glyphicon-chevron-right" style="color:white;"></div><%= c.first_name %> <%= c.last_name %></a>
              <% end %>
            <% end %>
          <% end %>
    </div> <!-- END OF COL-2-->

    <!-- Large Right Column -->

    <div class="col-md-9">

    <!-- Middle Column, where the PLANS live. [ @client_plans ]-->

    <div class="row">
            <div class="col-md-6" style="float: left;">

            <% if @client_plans.nil? == false %>
              <% @client_plans.each do |plan| %>
                <div class="panel panel-default">
                  <div class="panel-heading">

                    <strong><%= plan.title %></strong>
                    <div class="edit-delete-plan-buttons">

                      <a href="/plans/<%=plan.id%>/edit">
                        <div class="glyphicon glyphicon-pencil"></div>
                      </a>
                      
                      <a data-confirm="Are you sure that you want to DELETE this Plan?" rel="nofollow" data-method="delete" href="/plans/<%=plan.id%>">
                        <div class="glyphicon glyphicon-remove">
                        </div>
                      </a>
                      
                    </div>
                    <br>

                    <div class="created-timestamp">
                      <%= localize(Time.at(plan.created_at), :format => :sample) %>
                    </div>
                    
                    <% if plan.created_at != plan.updated_at %>
                      <div class="updated-timestamp">
                        UPDATED: <%= localize(Time.at(plan.updated_at), :format => :sample) %>
                      </div>
                    <% end %>

                  </div>

                  <div class="panel-body">
                    <% if plan.content != nil %>
                      <%= plan.content.html_safe %>
                    <% end %>
                  </div>
                </div>
               <% end %>
            <% else %>
                  <div class="panel panel-default">
                  <div class="panel-heading">
                    <br>
                  </div>
                  <div class="panel-body">
                    You have no current plans.
                  </div>
            <% end %>

            <!-- //////////////"Add Plan" form.//////////////// -->

            
            <div class="panel panel-default">
              <div class="panel-heading">
                    <strong>Create a New Plan</strong>
              </div>

              <div class="panel-body">
                <div class="add-plan-form"> 
                  <%= render template: "plans/new/" %>
                </div>
              </div>
            </div>  

          <!-- ////////////////////////////// -->
          </div>


<!-- THIS IS THE RIGHT COLUMN, WHERE THE ACTIVE CLIENT'S MESSAGE HISTORY LIVES -->

<!-- /////////////////////////////////// -->

<!-- //////////////////////////////////// -->

      <div class="col-md-6" style="float:left;">

       <div class="row">
          <% if @active_user != nil %>

            <div class="panel panel-default">
              <div class="panel-heading">
                
                       
                  <strong>Direct Messages with <%= @active_user.first_name %>:</strong>

                

              </div>
                    
              <div class="panel-body">
                    
                <% if @all_active_user_messages_sorted_by_timestamp.nil? == false %>

                  <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
                        
                    <% if m.nil? == false %>

                      <% if m.from == current_user.id %>

                        <div class="outgoing-bubble">
                          <%= m.content %>
                        </div>

                        <div class="bubble-spacer">
                        </div>

                      <% else %>

                        <div class="incoming-bubble">
                        <%= m.content %>
                        </div>

                        <div class="bubble-spacer">
                        </div>
                              
                      <% end %>

                    <% else %>
                    <% end %>

                  <% end %>

                <% else %>
                <% end %>
                    
              </div> <!-- END of Panel-Body -->

            </div> <!-- END of Panel -->
       
<!-- ////////////////////////////// -->

            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Create a New Direct Message</strong>
              </div>

              <div class="panel-body">
                <div class="send-message-form"> 
                  <%= render template: "messages/new" %>
                </div>
              </div>  
            </div>    

<!-- ////////////////////////////// -->

          <% end %> <!-- END of IF @active_user != nil -->

      </div> <!-- END of Row -->

<!-- ////////////////////////////// -->

      </div><!--/col-->
     
      </div><!--/row-->

    </div><!--/col-->

  </div>

  </div>
</div>
  <!-- / Main -->
