<!-- MAIN -->

<div class="container">
<div class="row">
  <div class="col-md-2">
      <!-- Left -->
      <strong>Clients</strong>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>


      <!-- Client List -->
        <% if @clients.nil? == false %>
      
        <% @clients.each do |c| %>

        <!-- TODO: If active user, change background color of pill. -->
          
            <li>
              <a href="/user/dashboard/<%=c.id%>">
                <%= c.first_name %> <%= c.last_name %>
              </a>
            </li>
            
            <li class="divider"></li>

          <% end %>

        <% else %>

        <% end %>

      <!-- / Client List -->

      </ul>

    </div><!-- /span-3 -->
   
    <div class="col-md-10">
        <!-- Right -->
        <!-- <div class="i-dream-i-dare-dashboard-branding"> -->
          <!-- <div class="glyphicon glyphicon-leaf" id="leaf-branding"></div> i dream i dare -->
        <!-- </div> -->



        <!-- <br>
        <hr> -->
      
    <!-- Middle Column, where the PLANS live. -->

          <div class="row">
            <div class="col-md-5">

            <% if @all_active_user_plans_sorted_by_timestamp.nil? == false %>
              <% @all_active_user_plans_sorted_by_timestamp.each do |plan| %>
              <div class="panel panel-default">
                  <div class="panel-heading">

                    <strong><%= plan.title %></strong>
                    <div class="edit-delete-plan-buttons">

                      <a href="http://localhost:3000/plans/<%=plan.id%>/edit">
                        <div class="glyphicon glyphicon-pencil"></div>
                      </a>
                      
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/plans/<%=plan.id%>">
                        <div class="glyphicon glyphicon-remove">
                        </div>
                      </a>
                      
                    </div>
                    <br>

                    <div class="created-timestamp">
                      <%= localize(Time.at(plan.created_at), :format => :default) %>
                    </div>
                    
                    <% if plan.created_at != plan.updated_at %>
                      <div class="updated-timestamp">
                        UPDATED AT: <%= localize(Time.at(plan.updated_at), :format => :default) %>
                      </div>
                    <% end %>

                  </div>

                  <div class="panel-body">

                    <%= plan.content %>

                  </div>
                </div>
               <% end %>
            <% else %>
              <!-- DO NOTHING -->
            <% end %>

         

          <!-- //////////////"Add Plan" form.//////////////// -->

            <div class="panel panel-default">

                <div class="panel-body">
                  <div class="add-plan-form"> 
                    <%= render template: "plans/new" %>
                  </div>
                </div>
            </div>    

          <!-- ////////////////////////////// -->

           </div>


<!-- THIS IS THE RIGHT COLUMN, WHERE THE ACTIVE CLIENT'S MESSAGE HISTORY LIVES -->

<!-- //////////////////////////////////////////////////////////// -->

<!-- OBJECTIVE, in Pseudo-Code: loop through the @incoming_messages and @outgoing_messages, and place the objects into a hash. Sort them by timestamp, and spit them out (float)LEFT for outgoing and (float)RIGHT for incoming.  


<!-- //////////////////////////////////////////////////////////// -->


          <div class="col-md-7">

    <!-- THIS is a simple module, which will be used for the middle and right columns. -->

        <div class="row">
          <div class="col-span">

          <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Messages:</strong>
                  </div>
                  
                  <div class="panel-body">
                  
                  <% if @all_active_user_messages_sorted_by_timestamp.nil? == false %>

                      <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
                      
                        <% if m.nil? == false %>

                          <% if m.from == current_user.id %>

                            <div class="outgoing-bubble">
                            <%= m.content %>
                            </div>

                            <div class="bubble-spacer">
                            </div>

                          <% else %>

                            <div class="incoming-bubble">
                            <%= m.content %>
                            </div>

                            <div class="bubble-spacer">
                            </div>
                            
                          <% end %>

                        <% else %>
                        <% end %>

                      <% end %>

                  <% else %>
                  <% end %>
                  
                  </div>

          </div>
          </div>
        </div>

    <!-- / The simple module -->

    <!-- ////////////////////////////// -->

            <div class="panel panel-default">

                <div class="panel-body">
                  <div class="send-message-form"> 
                    <%= render template: "messages/new" %>
                  </div>
                </div>
            </div>    

<!-- ////////////////////////////// -->

              <!-- Social Media Icons -->

                <i class="icon-bar-chart icon-3x"></i>
                <i class="icon-plus icon-3x"></i>
                <i class="icon-facebook icon-3x"></i>
                <i class="icon-beaker icon-3x"></i>
                <i class="icon-twitter icon-3x"></i>
                
              <!-- / Social Media Icons -->
              
      </div><!--/col-->
     
      </div><!--/row-->

    </div><!--/col-->

</div>

</div>

<!-- / Main