<div class="simple-spacer" style="margin-top: 100px;"/>

<!-- MAIN -->

<div class="page-wrapper">

 

  <div class="container-fluid">

  	 <% if @coachDashHeadLine != nil && @coachDashHeadLine.value != "" %>
      <div class="panel panel-default">
        <%= raw @coachDashHeadLine.value %>
      </div>
    <% else %>
      <div class="panel panel-default" id="dashQuote">
        <% if @quote != nil && @quote.body != nil && @quote.author != nil %>
          <div class="quote-body">
            <%= raw @quote.body %>
          </div>
          <div class="quote-author">
            - <%= @quote.author %>
          </div>
        <% end %>
      </div>
    <% end %>
<div class="row">
    <div class="col-md-2" style="float: left;">
        <!-- Left -->
        <div class="dropdown show">
        <% if @clients.nil? == false %>
          <% if @clients.count > 1 %>
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           My clients
          </a>
          <% else %>
             <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           My client
          </a>
          <% end %>
        <% else %>
           <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           My client
          </a>
        <% end %>
       
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header"></li>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
             <% if @clients.nil? == false %>
              <% @clients.each do |c| %>
                <% if @active_user_id != nil && @active_user_id == c.id.to_s %>
                  <!-- <a class="btn"><div class="glyphicon glyphicon-chevron-right"></div><%= c.first_name %> <%= c.last_name %></a> -->
                   <a class="dropdown-item" href="#"><%= c.first_name %> <%= c.last_name %></a>
                <% else %>
                  <!--  <a class="btn" href="/user/dashboard/<%=c.id%>"><div class="glyphicon glyphicon-chevron-right" style="color:white;"></div><%= c.first_name %> <%= c.last_name %></a> -->
                   <a class="dropdown-item" href="/user/dashboard/<%=c.id%>"><%= c.first_name %> <%= c.last_name %></a>
                <% end %>
              <% end %>
                <li class="divider"></li>
            <% else %>
              You have no Clients.
            <% end %>
          </div>

        </ul>
        </div>
      </div><!-- /span-3 -->

      <div class="col-md-5 new-design">
             
      <!-- Middle Column, where the PLANS live. -->


      		<% if @all_active_user_plans_sorted_by_timestamp.nil? == false %>
                <% @all_active_user_plans_sorted_by_timestamp.each do |plan| %>
					           <div class="col-lg-12">
                        <div class="card coachcard">
                            <div class="card-body">
                                <h5 class="card-title"><%= plan.title %></h5>
                                 <span class="text-muted"> <%= localize(Time.at(plan.created_at), :format => :sample) %></span>
                                 <% if plan.created_at != plan.updated_at %>
                                  <span class="text-muted"> UPDATED: <%= localize(Time.at(plan.updated_at), :format => :sample) %></span> 
								
							               <% end %>
                                <div class="edit-delete-plan-buttons">
	                                <a data-confirm="Are you sure that you want to DELETE this Plan?"  rel="nofollow" data-method="delete" href="/plans/<%=plan.id%>">
									                <span aria-hidden="true" class="close" aria-label="Close">&times;  </span> 
                									</a>
                								</div>
                            </div>
                            <div class="comment-widgets">
                                <!-- Comment Row -->
                                <div class="d-flex no-block comment-row">
                                    <div class="comment-text w-100">
                                        <h5 class="font-medium">James Anderson</h5>
                                        <p class="m-b-10 text-muted">
                                        	<% if plan.content != nil %>
                    											<%= plan.content.html_safe %>
                    								  			<% end %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
             <% end %>  	

				
        

            <div class="row">
              <div class="col-md-12 style="float: left;"">

             <!--   <% if @all_active_user_plans_sorted_by_timestamp.nil? == false %>
                <% @all_active_user_plans_sorted_by_timestamp.each do |plan| %>
                <div class="panel panel-default">
                    <div class="panel-heading">

                      <strong><%= plan.title %></strong>
                      <div class="edit-delete-plan-buttons">

                        
                        <a data-confirm="Are you sure that you want to DELETE this Plan?" rel="nofollow" data-method="delete" href="/plans/<%=plan.id%>">
                          <div class="glyphicon glyphicon-remove">
                          </div>
                        </a>
                        
                      </div>
                      <br>

                      <div class="created-timestamp">
                        <%= localize(Time.at(plan.created_at), :format => :sample) %>
                      </div>
                      
                      <% if plan.created_at != plan.updated_at %>
                        <div class="updated-timestamp">
                          UPDATED: <%= localize(Time.at(plan.updated_at), :format => :sample) %>
                        </div>
                      <% end %>

                    </div>

                    <div class="panel-body">
                      <% if plan.content != nil %>
                        <%= plan.content.html_safe %>
                      <% end %>
                    </div>
                  </div>
                 <% end %>
              <% else %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <br>
                    </div>
                    <div class="panel-body">
                      This client has no current plans.
                    </div>
              <% end %> -->

           

         

              <div class="panel panel-default">
                <div class="panel-heading">
                      <h3>Create a New Plan</h3>
                </div>

                <div class="panel-body">
                  <div class="add-plan-form"> 
                    <%= render template: "plans/new" %>
                  </div>
                </div>
              </div>    

            <!-- ////////////////////////////// -->

             </div>


  <!-- THIS IS THE RIGHT COLUMN, WHERE THE ACTIVE CLIENT'S MESSAGE HISTORY LIVES -->

  <!-- //////////////////////////////////////////////////////////// -->

  <!-- OBJECTIVE, in Pseudo-Code: loop through the @incoming_messages and @outgoing_messages, and place the objects into a hash. Sort them by timestamp, and spit them out (float)LEFT for outgoing and (float)RIGHT for incoming. -->


  <!-- //////////////////////////////////////////////////////////// -->

			
			
			
			
        
        
     

  <!-- ////////////////////////////// -->
                       
        </div><!--/row-->

      </div><!--/col-->
  
  <div class="col-md-5">
			 <% if @all_active_user_messages_sorted_by_timestamp.nil? == false %>
			 <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
			<div class="col-md-12" style="float:left;">
			
				  <div class="alert alert-success">
					<!-- <h3 class="text-success"><i class="fa fa-check-circle"></i>  -->
					 <% if @active_user != nil %>     
                    <strong>Direct Messages with <%= @active_user.first_name %>:</strong>
                  <% end %></h3> 
                  
                  
                        
                      <% if m.nil? == false %>

                        <% if m.from == current_user.id %>

                          <div class="outgoing-bubble">
                            <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>

                        <% else %>

                          <div class="incoming-bubble">
                            <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>
                              
                        <% end %>

                      <% else %>
                      <% end %>
                    

                  
                 
				</div>
			</div>
			<% end %>
				  <% else %>
                  <% end %>
			<div class="col-md-12" style="float:left;">

     
          <div class="row">

            <!--     <div class="panel panel-default">
                <div class="panel-heading">
                  <% if @active_user != nil %>     
                    <strong>Direct Messages with <%= @active_user.first_name %>:</strong>
                  <% end %>




                </div>
                    
                <div class="panel-body">
                    
                  <% if @all_active_user_messages_sorted_by_timestamp.nil? == false %>

                    <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
                        
                      <% if m.nil? == false %>

                        <% if m.from == current_user.id %>

                          <div class="outgoing-bubble">
                            <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>

                        <% else %>

                          <div class="incoming-bubble">
                            <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>
                              
                        <% end %>

                      <% else %>
                      <% end %>
                    <% end %>

                  <% else %>
                  <% end %>
                    
                </div> 

              </div> -->

    

              <div class="col-md-12">
                <div class="panel-heading">
                      <h3>Create a New Direct Message</h3>
                </div>

                  <div class="panel-body">
                    <div class="send-message-form"> 
                      <%= render template: "messages/new" %>
                    </div>
                  </div>
              </div>   

               



    
          </div> 
        </div> 

  </div>

  </div>

  </div>

  <!-- / Main -->
