

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

<div class="row">
      



<!--        <div class="kt-portlet__head">
           <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                 <% if @coachDashHeadLine != nil && @coachDashHeadLine.value != "" %>
                  <div class="panel panel-default">
                    <%= raw @coachDashHeadLine.value %>
                  </div>
                <% else %>
                  <div class="panel panel-default" id="dashQuote">
                    <% if @quote != nil && @quote.body != nil && @quote.author != nil %>
                      <div class="quote-body">
                        <%= raw @quote.body %>
                      </div>
                      <div class="quote-author">
                        - <%= @quote.author %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            </h3>
           </div>   
        </div> -->

      <div class="col-xlg-2 col-lg-2 col-md-2 bg-light p-0" style="float: left;">

         <% if @coachDashHeadLine != nil && @coachDashHeadLine.value != "" %>
      <div class="panel panel-default">
        <%= raw @coachDashHeadLine.value %>
      </div>
      <% else %>
        <div class="panel panel-default" id="dashQuote">
          <% if @quote != nil && @quote.body != nil && @quote.author != nil %>
            <div class="quote-body">
              <%= raw @quote.body %>
            </div>
            <div class="quote-author">
              - <%= @quote.author %>
            </div>
          <% end %>
        </div>
      <% end %>

        <div class="dropdown show">
        <% if @clients.nil? == false %>
          <% if @clients.count > 1 %>
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           My clients
          </a>
          <% else %>
             <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           My client
          </a>
          <% end %>
        <% else %>
           <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           My client 
          </a>
        <% end %>
       
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header"></li>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
             <% if @clients.nil? == false %>
              <% @clients.each do |c| %>
                <% if @active_user_id != nil && @active_user_id == c.id.to_s %>
                   <a class="dropdown-item" href="#"><%= c.first_name %> <%= c.last_name %></a>
                <% else %>
                
                   <a class="dropdown-item" href="/user/dashboard/<%=c.id%>"><%= c.first_name %> <%= c.last_name %></a>
                <% end %>
              <% end %>
                <li class="divider"></li>
            <% else %>
              You have no Clients.
            <% end %>
          </div>

        </ul>
        </div>
      </div>

      <% if @all_active_user_plans_sorted_by_timestamp.nil? == false %>
          <% @all_active_user_plans_sorted_by_timestamp.each do |plan| %>
                <div class="col-lg-10"> 
                  <div class="kt-portlet kt-portlet--mobile">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label" style="width:100%;">
                      <h3 class="kt-portlet__head-title" style="width:100%;">
                        <%= plan.title %> <small><%= localize(Time.at(plan.created_at), :format => :sample) %></small>
                        <% if plan.created_at != plan.updated_at %>
                            <small> UPDATED: <%= localize(Time.at(plan.updated_at), :format => :sample) %></small> 
                        <% end %>
                        <div class="edit-delete-plan-buttons" style="width:100%;">
                          <a data-confirm="Are you sure that you want to DELETE this Plan?"  rel="nofollow" data-method="delete" href="/plans/<%=plan.id%>">
                          <span aria-hidden="true" class="close"  style="margin-top: -14px;" aria-label="Close">&times;  </span> 
                          </a>
                        </div>
                      </h3>
                    </div>
                  </div>
                  <div class="kt-portlet__body">
                      <h5 class="font-medium">James Anderson</h5>
                    <% if plan.content != nil %>
                       <%= plan.content.html_safe %>
                    <% end %>
                  </div>
                </div>  
              </div> 
          <% end %>
      <% end %>    





</div>

        <div class="row">
             <div class="col-xlg-2 col-lg-2 col-md-2 bg-light p-0" style="float: left;"></div>
              <div class="col-lg-10" >
              <div class="panel panel-default">
                <div class="panel-heading">
                      <h3>Create a New Plan</h3>
                </div>
                <div class="panel-body">
                  <div class="add-plan-form"> 
                    <%= render template: "plans/new" %>
                  </div>
                </div>
              </div>    
             </div>
        </div> 

        <div class="row">
             <div class="col-xlg-2 col-lg-2 col-md-2 bg-light p-0" style="float: left;"></div>
              <div class="col-lg-10"> 
               <!--  <%= debug @all_active_user_messages_sorted_by_timestamp %> -->
                 <% if @all_active_user_messages_sorted_by_timestamp.nil? == false %>
       <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
      <div class="col-md-12" style="float:left;">
      
          <div class="alert alert-success">
          <!-- <h3 class="text-success"><i class="fa fa-check-circle"></i>  -->
               <% if @active_user != nil %>     
                    <strong>Direct Messages with <%= @active_user.first_name %>:</strong>
                  <% end %></h3> 
                  
                  
                        
                      <% if m.nil? == false %>

                        <% if m.from == current_user.id %>

                          <div class="outgoing-bubble">
                            <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>

                        <% else %>

                          <div class="incoming-bubble">
                            <%= m.content %>
                          </div>

                          <div class="bubble-spacer">
                          </div>
                              
                        <% end %>

                      <% else %>
                      <% end %>
                    

                  
                 
                </div>
              </div>
              <% end %>
            <% else %>
            <% end %>
             </div> 
      </div>  




      <div class="row">
           <div class="col-xlg-2 col-lg-2 col-md-2 bg-light p-0" style="float: left;"></div>
            <div class="col-lg-10" >
              <div class="panel panel-default">
                <div class="panel-heading">
                     <h3>Create a New Direct Message</h3>
                </div>
                <div class="panel-body">
                  <div class="add-plan-form"> 
                     <%= render template: "messages/new" %>
                  </div>
                </div>
              </div>    
             </div>
      </div>  




