<!-- MAIN -->

<div class="container">
<div class="row">
  <div class="col-md-2">
      <!-- Left -->
      <strong>Clients</strong>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>


      <!-- Client List -->

        <% @clients.each do |client| %>


        <!-- If active user, change background color of pill. -->

          <li><a href="/user/dashboard/<%=client.id%>"><%= client.first_name %> <%= client.last_name %></a></li>
          <li class="divider"></li>

        <% end %>

      <!-- / Client List -->

      </ul>

    </div><!-- /span-3 -->
    <div class="col-md-10">
        <!-- Right -->

        <a title="New Plan" data-toggle="modal" href="TODO" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-leaf"></span> NEW PLAN</a>

        <br>
        <hr>
      
    <!-- Middle Column, where the PLANS live. -->

    

        

          <div class="row">
            <div class="col-md-5">
              <% @all_active_user_plans_sorted_by_timestamp.each do |plan| %>
              <div class="panel panel-default">
                  <div class="panel-heading">

                    <strong><%= plan.title %></strong>
                    <br>
                    Updated at: <%= plan.updated_at.to_formatted_s %>

                  </div>

                  <div class="panel-body">

                    <%= plan.content %>

                  </div>
                </div>
               <% end %>
            </div>


<!-- THIS IS THE RIGHT COLUMN, WHERE THE ACTIVE CLIENT'S MESSAGE HISTORY LIVES -->

<!-- //////////////////////////////////////////////////////////// -->

<!-- OBJECTIVE, in Pseudo-Code: loop through the @incoming_messages and @outgoing_messages, and place the objects into a hash. Sort them by timestamp, and spit them out (float)LEFT for outgoing and (float)RIGHT for incoming.  


<!-- //////////////////////////////////////////////////////////// -->


          <div class="col-md-7">

    <!-- THIS is a simple module, which will be used for the middle and right columns. -->

        <div class="row">
          <div class="col-span">

          <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>MESSAGES</strong>
                  </div>
                  
                  <div class="panel-body">
                  
                  <% if @all_active_user_messages_sorted_by_timestamp.empty? == false %>

                      <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
                      
                        <% if m.nil? == false %>

                          <% if m.from == current_user.id %>

                            <div class="outgoing-bubble">
                            <%= m.content %>
                            </div>

                            <div class="bubble-spacer">
                            </div>

                          <% else %>

                            <div class="incoming-bubble">
                            <%= m.content %>
                            </div>

                            <div class="bubble-spacer">
                            </div>
                            
                          <% end %>

                        <% else %>
                        <% end %>

                      <% end %>

                  <% else %>
                  <% end %>
                  
                  </div>

          </div>
          </div>
        </div>

    <!-- / The simple module -->

              <!-- Social Media Icons -->

                <i class="icon-bar-chart icon-3x"></i>
                <i class="icon-plus icon-3x"></i>
                <i class="icon-facebook icon-3x"></i>
                <i class="icon-beaker icon-3x"></i>
                <i class="icon-twitter icon-3x"></i>
                
              <!-- / Social Media Icons -->
              
      </div><!--/col-->
     
      </div><!--/row-->

    </div><!--/col-->

</div>

</div>

<!-- / Main