
<!-- MAIN -->

<div class="container">
<div class="row">
  <div class="col-md-2">

      <!-- Group List -->
    <% if @my_groups.empty? && @joined_groups.empty? && @invited_groups.empty? %>
      <strong>No Groups</strong>
    <% else %>
      <!-- My (Created by Me) Groups -->
      <% if @my_groups.empty? == false %>
        <strong>My Groups</strong>
        <hr>
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header">
          </li>
          <% @my_groups.each do |g| %>
            <!-- If active user, changes background color of pill. -->
            <% if @active_group != nil && @active_group == g.id %>
              <li class="btn-default" id="active-user-in-list">
                <a href="/group/dashboard/<%= g.id %>">
                  <%= g.name %>
                </a>
              </li>
            <% else %>
              <li class="btn-default">
                <a href="/group/dashboard/<%= g.id %>">
                  <%= g.name %>
                </a>
              </li>
            <% end %>         
              <li class="divider"></li>
            <% end %>

      <% end %>

      <!-- My Joined Groups -->
      <% if @joined_groups.empty? == false %>
        <strong>My Joined Groups</strong>
        <hr>
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header">
          </li>
          <% @joined_groups.each do |g| %>
            <!-- If active user, changes background color of pill. -->
            <% if @active_group != nil && @active_group == g.id %>
              <li class="btn-default" id="active-user-in-list">
                <a href="/group/dashboard/<%= g.id %>">
                  <%= g.name %>
                </a>
              </li>
            <% else %>
              <li class="btn-default">
                <a href="/group/dashboard/<%= g.id %>">
                  <%= g.name %>
                </a>
              </li>
            <% end %>         
              <li class="divider"></li>
            <% end %>
      <% end %>

      <!-- My Group Invitations -->
      <% if @invited_groups.empty? == false %>
        <strong>My Invitations</strong>
        <hr>
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header">
          </li>
          <% @invited_groups.each do |g| %>
            <!-- If active user, changes background color of pill. -->
            <% if @active_group != nil && @active_group == g.id %>
              <li class="btn-default" id="active-user-in-list">
                <a href="/group/dashboard/<%= g.id %>">
                  <%= g.name %>
                </a>
              </li>
            <% else %>
              <li class="btn-default">
                <a href="/group/dashboard/<%= g.id %>">
                  <%= g.name %>
                </a>
              </li>
            <% end %>         
              <li class="divider"></li>
            <% end %>
      <% end %>
    <% end %>
      <!-- / Group List -->

      </ul>

    </div><!-- /span-3 -->

    <div class="col-md-10">

        <!-- Navigation Tabs -->
          
          <!-- TODO: TABS: Individual, Group -->

          <!-- Individual = This dashboard,
          and Group = Group Dashboard -->
          <a href="/group/dashboard">GROUPS</a>
        <!--/ Navigation Tabs -->


        <!-- Inspirational Banner -->
<!-- HEIGHT OF IMAGE NEEDS TO BE 250px, and width should be 950px to accomodate larger screens.-->
<!-- 
          <div class="client-dashboard-banner">
            <div class="dashboard-banner-text">
                "There is no passion to be found
                playing small - in settling for 
                a life that is less than the one 
                you are capable of living."
                <br>
                <br>
                <strong>-Nelson Mandela
                </strong>
            </div>
            
          </div>
 -->
        <!--/ Inspirational Banner -->

    <!-- Middle Column = list of users in @active_group -->

    <div class="row">
          <div class="col-md-2">


            <% if @active_group_id.nil? == false && @members_of_active_group.nil? == false %>
              <% @members_of_active_group.each do |m| %>           
                    <strong>
                      <%= m.name %>
                    </strong>
                <hr>
              <% end %>
            <% else %>
              <strong>This Group has no Members</strong>
              <hr>
            <% end %>

          <!-- ////////////////////////////// -->
          </div>

<!-- //////////////////////////////////// -->

      <div class="col-md-7">

    <!-- THIS is a simple module, which will be used for the middle and right columns. -->

       <div class="row">
          <div class="col-span">

          <div class="panel panel-default">
                  <div class="panel-heading">
                    <% if @active_user != nil %>
                     
                      <strong>Direct Messages with <%= @active_user.first_name %>:</strong>
                    <% end %>

                  </div>
                  
                  <div class="panel-body">
                  
                  <% if @all_active_user_messages_sorted_by_timestamp.nil? == false %>

                      <% @all_active_user_messages_sorted_by_timestamp.each do |m| %>
                      
                        <% if m.nil? == false %>

                          <% if m.from == current_user.id %>

                            <div class="outgoing-bubble">
                            <%= m.content %>
                            </div>

                            <div class="bubble-spacer">
                            </div>

                          <% else %>

                            <div class="incoming-bubble">
                            <%= m.content %>
                            </div>

                            <div class="bubble-spacer">
                            </div>
                            
                          <% end %>

                        <% else %>
                        <% end %>

                      <% end %>

                  <% else %>
                  <% end %>
                  
                  </div>

          </div>
          </div>
        </div>

     
<!-- ////////////////////////////// -->

            <div class="panel panel-default">
              <div class="panel-heading">
                    <strong>Create a New Group Message</strong>
              </div>
              <div class="panel-body">
                <div class="send-message-form"> 
                  <%= render template: "messages/new" %>
                </div>
              </div>
            </div>    

<!-- ////////////////////////////// -->
          

    <!-- / The simple module -->

              <!-- Social Media Icons -->
              <div>
                <i class="icon-bar-chart icon-3x"></i>
                <i class="icon-plus icon-3x"></i>
                <i class="icon-facebook icon-3x"></i>
                <i class="icon-beaker icon-3x"></i>
                <i class="icon-twitter icon-3x"></i>
              </div>  
              <!-- / Social Media Icons -->
              
      </div><!--/col-->
     
      </div><!--/row-->

    </div><!--/col-->

</div>

</div>

<!-- / Main
  
