<h1>Companies</h1>
  <p style="color:red;" style="text-align: left; margin:15px;">
    Each new company will be populated with one Admin User account. The template for the login and password for this account will be:
    Example Company = "88 Wu-Tang Financial"
    Login EMAIL = 88wutan@admin.admin (first 7 characters [A-Z, 0-9] of the full name, ignoring all spaces and special characters)
    Login PASSWORD = 88wu-5up3r! (first 4 characters of EMAIL, followed by "-5up3r!", which is "SUPER!" with S=5 and E=3)
  </p>
  <button>
    <%= link_to 'New Company', new_company_path %>
  </button>
<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Description
      </th>
      <th>
        Logo Path
      </th>
      <th>
        Logo Filename
      </th>
      <th>
        Admin Username
      </th>
      <th>
        Admin Password
      </th>
      <th>
        Active?
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @all_companies != nil %>
      <% @all_companies.each do |c| %>
        <tr class="<%= c.active? ? '' : 'inactive_table_row_item' %>">

          <th>
            <%= c.id %>
          </th>
          <th>
            <%= c.name %>
          </th>
          <th>
            <%= c.description %>
          </th>
          <th>
            <%= c.logo_path %>
          </th>
          <th>
            <%= c.logo_filename %>
          </th>
          <th>
            <% @cname = c.name.gsub(/[^0-9A-Za-z]/, '').downcase %>

            <%= @cname[0,7] + "@admin.admin" %>
          </th>
          <th>
            <%= @cname[0,4] + "-5up3r!" %>
          </th>
          <th>
            <%= c.active %>   <a href="/company_toggle_active/<%= c.id %>"><button>Toggle</button></a>
          </th>
        </tr> 
      <% end %>
    <% end %>
  </tbody>
</table>
  <hr>

<h1>New Users</h1>
    <p style="color:red;" style="text-align: left;">
      Users that used the Sign Up link on the homepage are listed here. They will need to be assigned to a Company to be activated by a Company Admin. Click on the desired Company button to assign each new User (They will drop off of the list as you do this). Request from dev if you want this page to contain/control ALL users in all companies.
    </p>
<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Company ID
      </th>
      <th>
        Assign to a Company
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @users_to_assign_to_company != nil %>
      <% @users_to_assign_to_company.each do |u| %>
        <tr>
          <th>
            <%= u.id %>
          </th>
          <th>
            <%= u.first_name %> <%= u.last_name %>
          </th>
          <th>
            <%= u.email %>
          </th>
          <th>
            <% if u.company_id != nil %>
              <%= @all_companies.find(u.company_id).name %>
            <% else %>
              <div style="color:red">
                Unassigned
              </div>
            <% end %>
          </th>
          <th>
            <% @all_companies.each do |c| %>
                <a data-method="post" href="/assign_company_id/<%= u.id %>/<%= c.id %>" rel="nofollow"><button><%= c.name %></button></a>

              </form>
            <% end %>
          </th>
        </tr> 
      <% end %>
    <% end %>
  </tbody>
</table>