<% if current_user.is_an_admin? %>
  <h1>This is your ADMIN dashboard</h1>
<% elsif current_user.is_a_coach? %>
  <h1>This is your COACH dashboard</h1>
<% else %>
  <h1>This is your CLIENT dashboard</h1>
<% end%>




<%unless current_user.blank? -%>
signed in as
<%else -%>
not signed in
<%end-%>

<%= current_user.first_name %> <%= current_user.last_name %> 

<a href='/users/sign_out' data-method='delete'>Sign out</a>

<!-- ADMIN DASHBOARD -->

<%= @coaches each do |x| %>

  <%= x.first_name %>

  <%

<% end %>

<!-- COACH DASHBOARD -->

<%= @clients each do |x| %>

<!-- spit out links for each client -->

<% end %>

<!-- CLIENT DASHBOARD -->

<%= @messages each do |x| %>


<% end %>



