<% if current_user.is_an_admin? %>

  <%= render(:partial => "admin_dash") %> 

<% elsif current_user.is_a_coach? %>
  <%= render(:partial => "coach_dash") %>
<% end %>

<% if current_user.is_a_coach == false && current_user.is_an_admin == false %>
  <%= render(:partial => "client_dash") %>
<% end %>

<!-- (ADMIN recieves admin_messages in addition to these below) -->

  INCOMING MESSAGES:
  <% @incoming_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.from %></li>
  <% end %> 

  OUTGOING MESSAGES:
  <% @outgoing_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.to %></li>
  <% end %> 



