Welcome, <%= current_user.first_name %> <%= current_user.last_name %>! 

<a href='/users/sign_out' data-method='delete'>Sign out</a>

<!-- ADMIN DASHBOARD -->
<% if current_user.is_an_admin? %>

  <h1>This is your ADMIN dashboard</h1>

  <% @coaches.each do |x| %>

    <%= x.first_name %>

  <% end %>


<!-- COACH DASHBOARD -->

<% elsif current_user.is_a_coach? %>

  <h1>This is your COACH dashboard</h1>

  <% @clients.each do |x| %>

  <%= x.first_name %>

  <!-- spit out links for each client -->

  <% end %>

<% end %>
<!-- CLIENT DASHBOARD -->

Client Dashboard: 

<% if current_user.is_a_coach == false && current_user.is_an_admin == false %>

  <% @mentorships_for_client.each do |x| %>

    <%= x.coach %>

  <% end %>

  <% @coaches_for_client.each do |y| %>

    <%= y.id %>

  <% end %>

<% else %>


<% end %>

<!-- ALL USERS' MESSAGES -->

  INCOMING MESSAGES:
  <% @incoming_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.from %></li>
  <% end %> 

  OUTGOING MESSAGES:
  <% @outgoing_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.to %></li>
  <% end %> 




