<%= current_user.first_name %> <%= current_user.last_name %>'s Dashboard 

<a href='/users/sign_out' data-method='delete'>Sign out</a>


<!-- ADMIN DASHBOARD -->
<!-- ####################################### -->

<% if current_user.is_an_admin? %>

  <h1>This is your ADMIN dashboard</h1>

  ----------------------------------<br>

  <h2>Admin messages</h2> 
  
  <% @all_admin_messages.each do |a| %>

    <li>From: <%= a.from_name %></li>

    <li>Email: <%= a.from_email %></li>

    <li>Message: <%= a.content %></li>

    ----------------------------------<br>

  <% end %>


  <h2>All coaches</h2>

  <% @all_coaches.each do |x| %>

    <li><%= x.first_name %> <%= x.last_name %> ... <%= x.email %></li>

    ----------------------------------<br>

  <% end %>


  <h2>All clients</h2>
  
  <% @all_clients.each do |y| %>

    <li><%= y.first_name %> <%= y.last_name %></li>

    ----------------------------------<br>

  <% end %>


  <h2>All mentorships</h2>
  
  <% @all_mentorships.each do |z| %>

    <li>Coach # <%= z.coach %> & Client # <%= z.client %></li>

    ----------------------------------<br>

  <% end %>


  <h2>All plans</h2>
  
  <% @all_plans.each do |z| %>

    <li>Client # <%= z.client %></li>

    <li>Title: <%= z.title %></li>

    <li>Content: <%= z.content %></li>

    ----------------------------------<br>

  <% end %>


  <h2>All messages</h2>
  
  <% @all_messages.each do |m| %>

    <li>From User # <%= m.from %></li>

    <li>To User # <%= m.to %></li>

    <li>Message: <%= m.content %></li>

    ----------------------------------<br>

  <% end %>


<!-- COACH DASHBOARD -->
<!-- ####################################### -->

<% elsif current_user.is_a_coach? %>

  <h1>This is your COACH dashboard</h1>

  Clients:

  <% @clients.each do |x| %>

    <!-- Spit out links for each client here -->

    <li><%= x.first_name %> <%= x.last_name %></li>
    ----------------------------------<br>



  <% end %>

<% end %>


<!-- CLIENT DASHBOARD -->
<!-- ####################################### -->

<% if current_user.is_a_coach == false && current_user.is_an_admin == false %>

  <h1>This is your CLIENT dashboard</h1>

  <% @mentorships_for_client.each do |x| %>

    <%= x.coach %>

  <% end %>

  <% @coaches_for_client.each do |y| %>

    <%= y.id %>

  <% end %>

<% else %>

<% end %>


<!-- ALL USERS' MESSAGES -->
<!-- ####################################### -->

<!-- (ADMIN only recieves admin_messages) -->

<% if current_user.is_an_admin == false %>

  INCOMING MESSAGES:
  <% @incoming_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.from %></li>
  <% end %> 

  OUTGOING MESSAGES:
  <% @outgoing_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.to %></li>
  <% end %> 

<% end %>


