Welcome, <%= current_user.first_name %> <%= current_user.last_name %>! 

<a href='/users/sign_out' data-method='delete'>Sign out</a>

<!-- ........... -->









<!-- ........... -->
INCOMING MESSAGES:
<% @incoming_messages.each do |m| %>
  <li><%= m.content %></li>
  <li><%= m.from %></li>
<% end %> 

OUTGOING MESSAGES:
<% @outgoing_messages.each do |m| %>
  <li><%= m.content %></li>
  <li><%= m.to %></li>
<% end %> 



