<%= current_user.first_name %> <%= current_user.last_name %>'s Dashboard 

<a href='edit_user_registration_path'>Edit User</a>

<a href='/users/sign_out' data-method='delete'>Sign out</a>


<!-- ADMIN DASHBOARD -->
<!-- ####################################### -->

<% if current_user.is_an_admin? %>

  <%= render(:partial => "admin_dash") %> 

<!-- COACH DASHBOARD -->
<!-- ####################################### -->

<% elsif current_user.is_a_coach? %>

  <%= render(:partial => "coach_dash") %>

<% end %>


<!-- CLIENT DASHBOARD -->
<!-- ####################################### -->

<% if current_user.is_a_coach == false && current_user.is_an_admin == false %>

  

<% end %>


<!-- ALL USERS' MESSAGES -->
<!-- ####################################### -->

<!-- (only ADMIN recieves admin_messages) -->

<% if current_user.is_an_admin == false %>

  INCOMING MESSAGES:
  <% @incoming_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.from %></li>
  <% end %> 

  OUTGOING MESSAGES:
  <% @outgoing_messages.each do |m| %>
    <li><%= m.content %></li>
    <li><%= m.to %></li>
  <% end %> 

<% end %>


