<p id="notice"><%= notice %></p>

<p>
  <strong>Resource:</strong>
  <%= @book_resource.id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @book_resource.active %>
</p>

<p>
  <strong>Path:</strong>
  <%= @book_resource.path %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @book_resource.file_name %>
</p>

<%= link_to 'Edit', edit_book_resource_path(@book_resource) %> |
<%= link_to 'Back', book_resources_path %>
