<!--<p id="notice"><%= notice %></p>

<p>
  <strong>Resource:</strong>
  <%= @book_resource.id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @book_resource.active %>
</p>

<p>
  <strong>Path:</strong>
  <%= @book_resource.path %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @book_resource.file_name %>
</p>

<%= link_to 'Edit', edit_book_resource_path(@book_resource) %> |
<%= link_to 'Back', book_resources_path %>

-->



<p id="notice"><%= notice %></p>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
<!--	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">
				SHOW MENTORSHIP
			</h2>
		</div>
	</div>
Begin::Section-->
<div class="kt-portlet">
   <div class="kt-portlet__body kt-portlet__body--fit">
      <div class="row row-no-padding row-col-separator-xl">
         <div class="col-md-12 col-lg-12 col-xl-4">
            <!--begin:: Widgets/Stats2-1 -->
            <div class="kt-widget1">
               <div class="kt-widget1__item">
                  <div class="kt-widget1__info">
                     <h3 class="kt-widget1__title">Resource</h3>
                     <span class="kt-widget1__desc"><%= @book_resource.id %></span>
                  </div>
               </div>
               <div class="kt-widget1__item">
                  <div class="kt-widget1__info">
                     <h3 class="kt-widget1__title">Active</h3>
                     <span class="kt-widget1__desc"><%= @book_resource.active %></span>
                  </div>
               </div>
               <div class="kt-widget1__item">
                  <div class="kt-widget1__info">
                     <h3 class="kt-widget1__title">Path</h3>
                     <span class="kt-widget1__desc"><%= @book_resource.path %></span>
                  </div>
               </div>
               <div class="kt-widget1__item">
                  <div class="kt-widget1__info">
                     <h3 class="kt-widget1__title">Filename</h3>
                     <span class="kt-widget1__desc"><%= @book_resource.file_name %></span>
                  </div>
               </div>
            </div>
            <!--end:: Widgets/Stats2-1 -->     
            <div class="kt-portlet__foot">
					<div class="kt-form__actions">
					<%= link_to 'Edit', edit_book_resource_path(@book_resource), class: "btn btn-label-primary btn-pill" %> |
					<%= link_to 'Back', book_resources_path, class: "btn btn-label-primary btn-pill" %>
					</div>
				</div>       
         </div>
      </div>
   </div>
</div>
<!--End::Section-->
