<%= form_for(@group_message) do |f| %>
  <% if @group_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_message.errors.count, "error") %> prohibited this group_message from being saved:</h2>

      <ul>
      <% @group_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="hide-this">
      <%= f.number_field :group_id, :value => @active_group_id  %>

      <%= f.number_field :from, :value => @active_user_id  %>
  </div>

  <div class="field">
    <% f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
