<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group_message.group_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @group_message.from %>
</p>

<p>
  <strong>Content:</strong>
  <%= @group_message.content %>
</p>

<%= link_to 'Edit', edit_group_message_path(@group_message) %> |
<%= link_to 'Back', group_messages_path %>
