
 <div class="block">
  
  <center><%= render '/shared/public_logo_and_nav' %></center>
  
  <div class="hero-slider home_page" style="min-height: 100px">
        <div class="rev-slider">
            <ul>
              <li data-transition="fade">
                   <img src="/assets/slide1.jpg" alt="Ocean" 
         class="rev-slidebg" 
         data-bgposition="center center" 
         data-bgfit="cover" 
         data-bgrepeat="no-repeat">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">Dream Catcher Coaching</h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>Investing in those invested in your Mission</h1>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li>
     <li data-transition="fade">
                   <img src="/assets/slide3.jpg" alt="Ocean" 
         class="rev-slidebg" 
         data-bgposition="center center" 
         data-bgfit="cover" 
         data-bgrepeat="no-repeat">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">Dream Catcher Coaching</h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>Developing leaders who develop leaders</h1>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li> 
                <li data-transition="fade">
                   <img src="/assets/african.jpg" alt="Ocean" 
         class="rev-slidebg" 
         data-bgposition="center center" 
         data-bgfit="cover" 
         data-bgrepeat="no-repeat">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">Dream Catcher Coaching</h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>Growing People; the most critical asset to your business.</h1> 
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li>
              <!--  <li data-transition="fade">
                   <img src="/assets/slide_login.jpg" alt="Ocean" 
         class="rev-slidebg" 
         data-bgposition="center center" 
         data-bgfit="cover" 
         data-bgrepeat="no-repeat">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">Dream Catcher Coaching</h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>The most critical asset to your business.</h1>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li>
           <li data-transition="fade">
                   <img src="/assets/dream-catcher.jpg" alt="Ocean" 
         class="rev-slidebg" 
         data-bgposition="center center" 
         data-bgfit="cover" 
         data-bgrepeat="no-repeat">
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="150"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="500"><h4 class="opacity-40">I Dare I Dreams </h4>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="210"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="600"><h1>The dream catcher experience is a <br/>guide and coaching program</h1>
                   </div>
                   <div class="tp-caption"
                        data-x="left" data-hoffset="0"
                        data-y="top" data-voffset="410"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:700;e:Power3.easeInOut;"
                        data-start="700"><a href="http://206.81.14.195:3000/users/sign_up" class="link underline scroll">Sign Up Today</a>
                   </div>
               </li>-->

			
            </ul>
        </div>
    </div>

   

     <% if @active_book_resources != nil %>
        <div id="book-resource-form">
        
        <div class="book-resource-form">
          <div style="text-align:center; padding-top:20px;">
            <a href="#" id="collapse-book-resource-form" style="text-align:center;">
              <span class="glyphicon glyphicon-remove-circle" style="font-size:2em;"></span>
            </a>

            <h3 class="h3color">
              Book Resources
            </h3>

          </div>

          <div class="body">
            
            <div class="col-lg-12">

             

              <div class="col-md-12">
                
                <% @active_book_resources.each do |resource| %>

                  <div class="row">
                    <div class="panel panel-default">
                      <!-- <div class="panel-heading"> 
                        <strong>
                          <%= resource.path %>  
                        </strong>
                      </div> -->

                      <div class="panel-body">
                        <div class="" style="font-size: 1.5em; text-align:center;">
                            <%= resource.file_name %>
                          <br />
                        </div> 
                      </div>
                    </div>
                  </div>  
                <% end %>

                <center>
                  

                    <div class="row" style="margin-top:20px;">

                      
                        <div class="col-md-4"></div>
                     
                      <div class="col-md-4">

                        <%= form_for @book_resource_request do |f| %>
                           <div class="form-group">
                             <!--  <%= f.label :email, "Email" %> -->
                              <%= f.text_field :email, class: "form-control framed", placeholder: "Email" %>
                            </div>   
                        <%= f.submit "Submit", :disable_with => 'Submiting...', :class => 'btn btn-primary' %>
   
                        <% end %>

                      </div>
                      <div class="col-md-4"></div>
                     
                      
                    </div>

                 
                </center>

                <br />

                <div class="row story story-transparent txt-design" style="margin-bottom:20px;">

                <p>  By submitting your email address above, you are consenting to receive periodic emails from us. You may choose to opt-out at any time by changing your notification preferences, or by clicking on the "Unsubscribe" button at the bottom of any email sent to you. We will never sell, rent, or share your personal information with any third parties for marketing purposes without your express permission.</p>

                </div>
                
              </div>

             

            </div>

          </div>
        </div>

        </div>
      <% end %>


    
    <div class="container-fluid home_page">
		 <div class="row row-white">
        <div class="col-md-2"></div>
            <div class="col-md-12">
              <h2 class="h3_pad"> WHY THE DREAM CATCHER EXPERIENCE? </h2>
                <div class="story story-transparent txt-design">
                    
                        <p>Whether your dreams are about developing in business or about this vast experience called life, Dream Catcher has immediate actionable steps for you. There are gaps between your dreams and where you are today. Dream Catcher effectively closes those gaps. The Dream Catcher experience is an expert guided, proven and effective coaching program. It is always tailored to meet your Leadership and Life needs.</p>
                    <div class="form-group">
                          <a href="/users/sign_in"><button type="submit" id="form-contact-submit" class="btn btn-primary">Sign In </button></a>
                    </div>
                </div>
                
            </div>
            
            <!--/ .col-md-8-->
            <div class="col-md-2"></div>
        </div>
        <!--/ .row-->

       
        <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-12">
              <h2 class="h3_pad">YOUR DREAM CATCHER EXPERIENCE </h2>
                <div class="story story-transparent txt-design">

                        <p> A dream is not what you wake up from. A real dream is what wakes you up. The Dream Catcher experience will furnish you and/or your business with simple actionable steps. We will propel you to realize your fullest potential, as an individual and leader. Dream Dare Do!</p>
                   <div class="form-group">
                          <a href="/blog"><button type="submit" id="form-contact-submit" class="btn btn-primary">Learn More </button></a>
                    </div>
                </div>
                
            </div>
            
            <!--/ .col-md-8-->
            <div class="col-md-2"></div>
        </div>
        <!--/ .row-->
        
       
       
        <!--/ .row-->
        
      
    </div>
 
    <!--  <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img src="assets/product.jpg" alt="">
                </div>
                <div class="col-md-8 col-sm-8" style="top: 20px;">
                    <h3 class="no-bottom-margin"><strong>WE ARE:</strong></h3>
                 
                    <br>
                    <p class="psize">
                       "Specialists in Leadership Coaching <br>
                        Pragmatic and transparent experts <br>
                        Experienced results-driven professionals" <br>
                    </p>
                    <br>
                    <div class="form-group">
                          <a href="/bios/meet_us"><button type="submit" id="form-contact-submit" class="btn btn-primary">Meet Us</button></a>
                    </div>
                  
                </div>
               
            </div>
           
        </div>
       
    </div> -->
   
  <div class="block home_page" id="features">
        <div class="container container_margin" >
        <div class="heading_space h3color"> </div>
        <h2 class="h3_pad"><center>WE ARE:</center></h2>
            <div class="row">
               
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <!-- <i class="icon_id-2"></i> -->
                        <p>Competent specialists in Leadership and Life Coaching</p>                      
                    </div>
                   
                </div>
               
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <!-- <i class="icon_briefcase"></i> -->
                        <p>Pragmatic and transparent experts</p>
                        
                    </div>
                    
                </div>
               
                <div class="col-md-4 col-sm-6">
                    <div class="feature-box">
                        <!-- <i class="icon_box-checked"></i> -->
                        <p>Value and results driven professionals</p>
                       
                    </div>
                   
                </div>
              
            </div>
          
              <div class="heading_space"> </div>
        </div>
     
        <div class="bg bg-color-neutral opacity-50"></div>
    </div> 
   


</div>




        
        
        

