<div class="whole-page">

<%= render 'landing_page_info_content' %>

<h4>Welcome! Today is <%= @day_of_week %> <%= @month %>/
<%= @day_number %>, <%= @year %></h4>

<!-- Web form to send a new admin message: -->

<%= render 'form' %>

<!-- / New Admin Message form -->

</div>