<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @group_membership.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_membership.group_id %>
</p>

<p>
  <strong>Invited by:</strong>
  <%= @group_membership.invited_by %>
</p>

<%= link_to 'Edit', edit_group_membership_path(@group_membership) %> |
<%= link_to 'Back', group_memberships_path %>
