<p id="notice"><%= notice %></p>

<h1>Listing Bio Answers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bio_answers.each do |bio_answer| %>
      <tr>
        <td><%= link_to 'Show', bio_answer %></td>
        <td><%= link_to 'Edit', edit_bio_answer_path(bio_answer) %></td>
        <td><%= link_to 'Destroy', bio_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bio answer', new_bio_answer_path %>
