<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_schedule.user_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @user_schedule.schedule_id %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @user_schedule.completed %>
</p>

<%= link_to 'Edit', edit_user_schedule_path(@user_schedule) %> |
<%= link_to 'Back', user_schedules_path %>
