<p id="notice"><%= notice %></p>

<h1>Companies</h1>
<div style="color:red">
  
</div>

<hr>
<p>
  <button>
    <%= link_to 'New Company', new_company_path %>
  </button>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th>Logo Path</th>
      <th>Logo Filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.description %></td>
        <td><%= company.active %></td>
        <td><%= company.logo_path %></td>
        <td><%= company.logo_filename %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>