<p id="notice"><%= notice %></p>

<p>
  <strong>Logo path:</strong>
  <%= @company.logo_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Logo filename:</strong>
  <%= @company.logo_filename %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
