<p id="notice"><%= notice %></p>

<h1>Bio Questions</h1>
  <p>
    <button>
      <%= link_to 'Create New', new_bio_question_path %>
    </button>
  </p>
  <table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Question Text
        </th>
        <th>
          Order By (1=TOP)
        </th>
        <th>
          Active?
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @bio_questions.count > 0 %>
        <% @bio_questions.each do |bio_question| %>
          <tr>
            <th>
              <%= bio_question.id %>
            </th>
            <th>
              <%= bio_question.question_text %>
            </th>
            <th>
              <%= bio_question.question_order_by %>
            </th>
            <th>
              <%= bio_question.active %>
            </th>
            <th>
              <%= link_to 'Show', bio_question %>
              <%= link_to 'Edit', edit_bio_question_path(bio_question) %>
              <%= link_to 'Destroy', bio_question, method: :delete, data: { confirm: 'Are you sure?' } %>
            </th>
          </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table>