<%= form_for(@mentorship) do |f| %>
  <% if @mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
      <% @mentorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="dropdown">
      <%= f.label :coach %><br>
      <%= f.collection_select :coach, @all_coaches.select { |u| u.is_active == true }, :id, :first_name, include_blank: true %>
    </div>
    <div class="dropdown">
      <%= f.label :client %><br>
      <%= f.collection_select :client, @all_clients.select { |u| u.is_active == true }, :id, :first_name, include_blank: true %>
    </div>
  </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
