<%= form_for(@mentorship) do |f| %>
  <% if @mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
      <% @mentorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="list_coaches">
  <br />COACHES-> <br />
  <% @all_coaches.each do |coach| %>
    <%= coach.id %> = <%= coach.first_name %> <%= coach.last_name %><br />
  <% end %>
</div>
<div class="list_clients">
  <br />CLIENTS-> <br />
  <% @all_clients.each do |client| %>
    <%= client.id %> = <%= client.first_name %> <%= client.last_name %><br />
  <% end %>

</div>

  <div class="field">
    <%= f.label :client %><br>
    <%= f.number_field :client %>
  </div>
  <div class="field">
    <%= f.label :coach %><br>
    <%= f.number_field :coach %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
