<!--<%= form_for(@mentorship) do |f| %>
  <% if @mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
      <% @mentorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="dropdown">
      <%= f.label :coach %><br>
      <%= f.collection_select :coach, @all_coaches.select { |u| u.is_active == true }, :id, :first_name, include_blank: true %>
    </div>
    <div class="dropdown">
      <%= f.label :client %><br>
      <%= f.collection_select :client, @all_clients.select { |u| u.is_active == true }, :id, :first_name, include_blank: true %>
    </div>
  </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>-->




<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="kt-portlet__head">
          
           <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
            Editing Mentorship
            </h3>
           </div>         

        </div>


 <%= form_for(@mentorship, html: {class: "kt-form kt-form--label-right"}) do |f| %>
	<% if @mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
      <% @mentorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="row">
      <div class="col-md-6">
         <div class="kt-portlet">
           
               <div class="kt-portlet__body">
                  <div class="form-group">
                     
					  <%= f.label :coach %><br>
					  <%= f.collection_select :coach, @all_coaches.select { |u| u.is_active == true }, :id, :first_name, { include_blank: true }, { class: "form-control form-control-sm" } %>
					
                  </div>
               </div>
              
           
         </div>
      </div>
      <div class="col-md-6">
         <div class="kt-portlet">
          
               <div class="kt-portlet__body">
                  <div class="form-group">
					 <%= f.label :client %><br>
					<%= f.collection_select :client, @all_clients.select { |u| u.is_active == true }, :id, :first_name, { include_blank: true }, { class: "form-control form-control-sm" } %>
                  </div>
               </div>
              
           		
         </div>
      </div>
   </div>
			  <div class="kt-portlet__foot">
                  <div class="kt-form__actions actions">
					  <%= f.submit :class => 'btn btn-success' %>
				  </div>
               </div>



               <div class="kt-section">
  <div class="kt-section__content kt-section__content--solid">
    <%= link_to 'Show', @mentorship, class: "btn btn-label-primary btn-pill" %> 
    <%= link_to 'Back', mentorships_path, class: "btn btn-label-primary btn-pill" %>
  </div>
</div>

              
</div>
			
<% end %>		








