<p id="notice"><%= notice %></p>

  <h1>Mentorships</h1>
  <p>
    <button>
      <%= link_to 'Create New', new_mentorship_path %>
    </button>
  </p>
  <table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Coach
        </th>
        <th>
          Client
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @public_mentorship_data != nil %>
        <% @public_mentorship_data.each do |m| %>
          <tr>
            <th>
              <%= m[0] %>
            </th>
            <th>
              <%= m[1].first_name %> <%= m[1].last_name %>
            </th>
            <th>
              <%= m[2].first_name %> <%= m[2].last_name %>
            </th>
          </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table>