<!--<p id="notice"><%= notice %></p>
<h2>SHOW MENTORSHIP</h2>
<p>
  <strong>Client:</strong>
  <% client = @all_clients.find_by_id(@mentorship.client) %>
  <%= client.first_name %> <%= client.last_name %>
</p>

<p>
  <strong>Coach:</strong>
  <% coach = @all_coaches.find_by_id(@mentorship.coach) %>
  <%= coach.first_name %> <%= coach.last_name %>
</p>
<h3>
  <%= link_to 'Edit', edit_mentorship_path(@mentorship) %> |
  <%= link_to 'Back', mentorships_path %>
</h3>-->




<p id="notice"><%= notice %></p>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">
				SHOW MENTORSHIP
			</h2>
		</div>
	</div>
<!--Begin::Section-->
<div class="kt-portlet">
   <div class="kt-portlet__body kt-portlet__body--fit">
      <div class="row row-no-padding row-col-separator-xl">
         <div class="col-md-12 col-lg-12 col-xl-4">
            <!--begin:: Widgets/Stats2-1 -->
            <div class="kt-widget1">
               <div class="kt-widget1__item">
                  <div class="kt-widget1__info">
                     <h3 class="kt-widget1__title">Client</h3>
                     <span class="kt-widget1__desc"> <% client = @all_clients.find_by_id(@mentorship.client) %>
  <%= client.first_name %> <%= client.last_name %></span>
                  </div>
               </div>
               <div class="kt-widget1__item">
                  <div class="kt-widget1__info">
                     <h3 class="kt-widget1__title">Coach</h3>
                     <span class="kt-widget1__desc"><% coach = @all_coaches.find_by_id(@mentorship.coach) %>
  <%= coach.first_name %> <%= coach.last_name %></span>
                  </div>
                 
               </div>
            </div>
            <!--end:: Widgets/Stats2-1 -->     
            <div class="kt-portlet__foot">
					<div class="kt-form__actions">
						<%= link_to 'Edit', edit_mentorship_path(@mentorship), class: "btn btn-label-primary btn-pill" %> 
						<%= link_to 'Back', mentorships_path, class: "btn btn-label-primary btn-pill" %>
					</div>
				</div>       
         </div>
      </div>
   </div>
</div>
<!--End::Section-->


