<p id="notice"><%= notice %></p>
<h2>SHOW MENTORSHIP</h2>
<p>
  <strong>Client:</strong>
  <% client = @all_clients.find_by_id(@mentorship.client) %>
  <%= client.first_name %> <%= client.last_name %>
</p>

<p>
  <strong>Coach:</strong>
  <% coach = @all_coaches.find_by_id(@mentorship.coach) %>
  <%= coach.first_name %> <%= coach.last_name %>
</p>
<h3>
  <%= link_to 'Edit', edit_mentorship_path(@mentorship) %> |
  <%= link_to 'Back', mentorships_path %>
</h3>
