<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content_field.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @content_field.value %>
</p>

<%= link_to 'Edit', edit_content_field_path(@content_field) %> |
<%= link_to 'Back', content_fields_path %>
