<p id="notice"><%= notice %></p>

<h1>Resources</h1>
<div style="color:red">This will be enhanced to include create, edit, view capabilities for coaches. For now, this is an admin-only area. The Resource Type IDs are below:
  <br />2 - Link
  <br />3 - File
  <br />4 - Note
  <br />5 - Image
</div>
<hr>
<p>
  <button>
    <%= link_to 'New Resource', new_resource_path %>
  </button>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Resource string</th>
      <th>Resource type</th>
      <th>Tag 1</th>
      <th>Tag 2</th>
      <th>Tag 3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.title %></td>
        <td><%= resource.description %></td>
        <td><%= resource.resource_string %></td>
        <td><%= resource.resource_type_id %></td>
        <td><%= resource.tag_1 %></td>
        <td><%= resource.tag_2 %></td>
        <td><%= resource.tag_3 %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


