<!--<p id="notice"><%= notice %></p>

<h1>Resources</h1>
<div style="color:red">This will be enhanced to include create, edit, view capabilities for coaches. For now, this is an admin-only area. The Resource Type IDs are below:
  <br />2 - Link
  <br />3 - File
  <br />4 - Note
  <br />5 - Image
</div>
<hr>
<p>
  <button>
    <%= link_to 'New Resource', new_resource_path %>
  </button>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Resource string</th>
      <th>Resource type</th>
      <th>Tag 1</th>
      <th>Tag 2</th>
      <th>Tag 3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.title %></td>
        <td><%= resource.description %></td>
        <td><%= resource.resource_string %></td>
        <td><%= resource.resource_type_id %></td>
        <td><%= resource.tag_1 %></td>
        <td><%= resource.tag_2 %></td>
        <td><%= resource.tag_3 %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>-->



<div class="col-xl-4 mt-5">
	<div class="kt-portlet kt-portlet--height-fluid">
		<div class="kt-portlet__head">
			<div class="kt-portlet__head-label">
				<h3 class="kt-portlet__head-title">
					Resources
				</h3>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="kt-widget4">
				<div class="kt-widget4__item" >
					<a href="#" class="kt-widget4__title kt-widget4__title--light">
						<span style="color:red">This will be enhanced to include create, edit, view capabilities for coaches. For now, this is an admin-only area. The Resource Type IDs are below:</span>
					</a>
				</div>
				<div class="kt-widget4__item" >
					<a href="#" class="kt-widget4__title kt-widget4__title--light">
						<span style="color:red">2 - Link</span>
					</a>
				</div>
				<div class="kt-widget4__item" >
					<a href="#" class="kt-widget4__title kt-widget4__title--light">
						<span style="color:red">3 - File</span>
					</a>
				</div>
				<div class="kt-widget4__item" >
					<a href="#" class="kt-widget4__title kt-widget4__title--light">
						<span style="color:red">4 - Note</span>
					</a>
				</div>
				<div class="kt-widget4__item" >
					<a href="#" class="kt-widget4__title kt-widget4__title--light">
						<span style="color:red">5 - Image</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="kt-section">
	<div class="kt-section__content kt-section__content--solid">
			<%= link_to 'New Resource', new_resource_path, class: "btn btn-label-primary btn-pill" %>
	</div>
</div>	




<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
		  
		  <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-0 pl-0 pr-0" id="kt_content">
			 <div class="kt-portlet kt-portlet--mobile">
				<div class="kt-portlet__body">
				   <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_2">
					 <thead>
						<tr>
						  <th>Title</th>
						  <th>Description</th>
						  <th>Resource string</th>
						  <th>Resource type</th>
						  <th>Tag 1</th>
						  <th>Tag 2</th>
						  <th>Tag 3</th>
						  <th colspan="3"></th>
						</tr>
					  </thead>

					  <tbody>
						<% @resources.each do |resource| %>
						  <tr>
							<td><%= resource.title %></td>
							<td><%= resource.description %></td>
							<td><%= resource.resource_string %></td>
							<td><%= resource.resource_type_id %></td>
							<td><%= resource.tag_1 %></td>
							<td><%= resource.tag_2 %></td>
							<td><%= resource.tag_3 %></td>
							<td><%= link_to 'Show', resource %></td>
							<td><%= link_to 'Edit', edit_resource_path(resource) %></td>
							<td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						  </tr>
						<% end %>
					  </tbody>
				   </table>
				</div>
				<hr>
			 </div>
		  </div>
		  
	   </div>
