<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hide-this">
    <div class="field">
      <% if current_user.is_a_coach? || current_user.is_an_admin? %>
        <%= f.number_field :client, :value => @active_user_id %>
      <% else %>
        <%= f.number_field :client, :value => @current_user.id %>
      <% end %>  
    </div>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <br>
  
    <%= f.label :content %><br>
    
    <%= f.trix_editor :content %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
