 <p id="notice"><%= notice %></p>

<h1>Plans</h1>
<p>
    <button>
      <%= link_to 'New Plan', new_plan_path %>
    </button>
  </p>
<table class="table table-bordered table-striped" >
    <thead>
      <tr>
        <th>
          Id
        </th> 
        <th>
          Client
        </th>
        <th>
          Title
        </th>
        <th>
          Content
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @plans != nil %>
        <% @plans.each do |plan| %>
          <tr>
            <th>
              <%= plan.id %>
            </th>
            <th>
              <%= plan.client %>
            </th>
            <th>
              <%= plan.title %>
            </th>
            <th>
              <%= plan.content %>
            </th>
            <th>
              <%= link_to 'Show', plan %>

              <%= link_to 'Edit', edit_plan_path(plan) %>

              <%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %>
            </th>
          </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table> 
