<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="css/custom.css.scss">
</head>

<body class="container">
  <%= render "flashes" -%>

  <!-- Before yield -->
  <%= yield %>
  <!-- After yield -->
  
  <%= render "javascript" %>
  <%= render "css_overrides" %>

</body>
</html>

