<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />

  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

  <!-- Rich Text Editor CSS/Scripts -->
  <link rel="stylesheet" type="text/css" href="trix.css">
  <script type="text/javascript" src="trix.js"></script>
</head>

  <body>

  <%= yield %>  <!-- //////////////////////////YIELD -->

  </body>
</html>
  
  <%= render "javascript" %>
  <%= render "css_overrides" %>

  <footer style="margin-top: 100px;">
    <center>
      2018, Dream Catcher LLC
    </center>
  </footer>