<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />

  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

</head>

  <body>

  <%= yield %>  <!-- //////////////////////////YIELD -->

  </body>
</html>
  
  <%= render "javascript" %>
  <%= render "css_overrides" %>

  <footer>
    <center>
      2018, Dream Catcher LLC
    </center>
  </footer>