<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.css" type="text/css">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag :application, :zabutocalendarmin, :style, :elegantfonts, :settings, :layers, :navigation, :bootstrap, :bootstrapselectmin  %>
 
  <%= csrf_meta_tags %>

  <title><%= title %></title>
  <style>
footer#footer {
    width: 100%;
    float: left;
    margin-bottom: 0px !important;
    padding-bottom: 0px;
    padding-top: 0px;
}
#footer .right {margin:0px !important;}
#footer .right .bg-right {width:100% !important;}
#footer .left {margin:0px !important;}
body.subpage {
    height: 100%;
}
.outer-wrapper {
    min-height: 100%;
}
.h3color{
	color : #37B048;
}
.psize{
	font-size: 16px;
}
.heading_space{
 margin-bottom: 40px;
}
.container_margin{
	margin-top: 25px;
    margin-bottom: 25px;
}
.contact_mrgin{
	text-align: left !important;
}
.contact_mrgin_left{
    margin-left: 200px;
}
.margin_top {
  margin-top: 0px;
  height: 100%;
  max-height: 367px;
  min-height: 367px;
}
 .modal-open .modal{    opacity: 1 !important;}
 .modal-backdrop.fade {
    filter: alpha(opacity=.66);
    opacity: .66;
}
.tp-bannertimer {
	display: none;
}
.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -0%);
    transform: translate(0, 0%);
}
.navigation {
	position: fixed;
	width: 100%;
	background: #fff !important;
	display: ;
	border-bottom: 1px solid #eee;
	top:0;
}
.forcefullwidth_wrapper_tp_banner {
	margin-top: 68px !important;
}
.top-sps {
	margin-top: 90px;
}
.hero-slider h4 {
	color: #fff;
	opacity: 1 !important;
}
.hero-slider h1 {
	font-size: 30px;
	color: #fff;
}
.hero-slider a {
	color: #fff;
}
.feature-box h4{
	color:#727272;
}
.txt-design p{text-align:left !important;}

.footer-menu li a {
	color: #333;
	line-height: 81px;
	width: 100%;
	float: left;
	opacity: .9;
	font-size: 17px;
}
.footer-menu li {
	list-style: none;
	display:inline-block;
}


.footer-submenus {
	padding: 0px 0;
	min-height: 110px;
	text-align:center;
}
.block .box.text-color-white.equal-height {
	background: #37b048;
	padding: ;
}
.left span {
	text-align: center;
	display: block;
}
.rem-padd{
padding-right:0px;
}

#footer .landing-link:hover {
	background: transparent;
	color: #37b048;
}
.equal-height-box {
	padding: 84px 35px;
}
#new_user input {
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.back-design {
	background: #fff !important;
	box-shadow: none;
}
.back-design .btn.btn-default.btn-white.loginwidth {
	background: #37b048;
	border: 1px solid #77aa31 !important;
	float: left;
	margin-top: 20px;
	height: 48px;
	font-weight: bold;
	border-radius: 0px;
}
.back-design .btn.btn-default.btn-white.loginwidth:hover{background:#000; color:#fff;}
.checkbox label {
	color: #333;
	opacity: .8;
}
.back-design #user_remember_me {
	margin-top: 0px;
	margin-right: 20px !important;
}
.content-center{padding:60px 0px;}
.content-center a {
	color: #37b048;
}
.anch-design a{color:#5cb85c;}
.paddingl-0{padding-left: 0px;}
.paddingr-0{padding-right: 0px;}
.chg-color {
  background: #37b048;
}
.tx-design{margin-bottom: 25px; font-size: 21px; font-weight: 500;}
.block.nw-blck {
  margin: 50px 0px;
}
.sign-tsps{margin:30px 0px 50px 0px;}
.sign-tsps img{width:100%;}
#search {
  width: 70%;
}
#search .form-control.framed {
  height: 42px;
}
.blog-post .meta {
  margin: 25px 0;
}
.blog-post {
  margin-bottom: 25px;
}
.sidebar ul li {
  list-style: disclosure-closed;
}
.login_left {
  padding-left: 20px;
  }
  .box_sign {
  padding: 0px 30px;
  position: relative;
  bottom: 10px;
}
.brand_left{
  padding-left: 220px;
  }
  .h3_pad{
    padding: 0px 40px; 
  }
  .landing-link:active {
  background-color: #37b048 !important;
  color: white;
  padding: 9px;
  text-decoration: none;
}
.margin-btm{margin-bottom: 13%;}
.display-cls {

    display: none !important;

}
.block .box.text-color-white.equal-height {
  background: #fff !important;
  color: #1d4f91 !important;
  border: 4px solid #1d4f91;
}
.box input {

    border: 1px solid #ccc;

}
#admin_message_content {

    border: 1px solid #ccc;

}
.clr-btn .btn.btn-primary.btn-default.btn-white {

    border: 1px solid #1d4f91;
    border-radius: 4px;
    background: #1d4f91;
    color:#fff;
  }
  .contact-us1{margin-bottom: 30px;margin-top: 0px;margin-right: 48px;}
  .feature-box p {
	font-size: 16px !important;
	margin-top: 16px !important;
}
@media screen and (min-device-width: 200px) and (max-device-width: 767px) { 

#top .container{padding:0px;}
#top nav ul {text-align:left; width: 100% !important; top: 43px; background: #fff !important; border-top: 1px solid #dedede; right:0px !important; left:0px !important; display:block !important; float:left !important;}
#top .show-nav li {
	float: left;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #dedede;
}
#top .show-nav a {
	text-align: left;
	display: block !important;
	padding: 0 15px !important;
	line-height: 45px;
	color: #676767 !important;
	font-weight: bold !important;
	margin: 2px !important;
}
.navigation .main-nav nav ul::after{display:none;}
.brand_left {

    padding-left: 0px !important;

}
.navigation .nav-toggle {

  font-size: 29px;
  position: absolute;
  top: -10px;
  bottom: 0px;
  right: 15px !important;
  height: 30px;
  margin: auto;
  z-index: 999;
}
.display-cls {

    display: block !important;

}
dl.big .promoted {
	font-size: 15px !important;
}
dl dt {
	margin-right: 0px;
}
dl.big dd {
	margin-left: 22px !important;
}
.contact-us1{margin-right: 15px;font-size: 18px;}
.equal-height-box {

    padding: 84px 21px;

}
dl.big {

    font-size: 15px;
}
.logo-centres img {
	text-align: center;
	margin: 0 auto;
	display: block;
}
.h3_pad {

    padding: 0px !important;font-size: 17px !important;padding-left: 10px !important;
}
.story {

    padding: 10px !important;
}
.h3color_contact {

	font-size: 22px !important;
}
.margn-tp{margin-top:20px;}
.block {
	padding: 0px !important;
}
.txt-design p {
	text-align: justify !important;
	margin-bottom: 20px !important;
}
.contact-us1 {
	font-size: 22px;
}
}
@media screen and (min-device-width: 200px) and (max-device-width: 420px) { 
.hero-slider h1 {    font-size: 14px;
   min-width: 316px;
   white-space: initial;
   width: 100%;}
}
@media screen and (min-device-width: 421px) and (max-device-width: 500px) { 
.hero-slider h1 {    font-size: 20px;
   min-width: 400px;
   white-space: initial;
   width: 100%;}
}
@media screen and (min-device-width: 501px) and (max-device-width: 767px) { 
.hero-slider h1 {    font-size: 20px;
   min-width: 500px;
   white-space: initial;
   width: 100%;}
}

  </style>
   
</head>

  <body class="subpage">
	  <div class="overlay"></div>
		<div class="outer-wrapper manage-sps">
		<div class="page-wrapper">
    <!-- TODO: Make Notices fade after 2 seconds, add them to all layouts, and remove them everywhere else. -->
  <!-- <p id="notice"><%= notice %></p> -->

  <%= yield %>  
   <div class="block">
        <div class="container">

            <!--/ .row-->
        </div>
        <!--/ .container-->
        <div class="bg"></div><!--/ .bg-->
    </div>
    <!--/ .block-->
<!--
 <div class="heading">
        
    </div>
-->
   

</div>
</div>
 <footer id="footer">
        <div class="">
            <div class="">
				<div class="col-md-5 col-sm-5 footer-menu">
                    <div class="footer-submenus">

                         <ul>
						<% if user_signed_in? %>
                        <li class="<%= active_class('/users/dashboard') %>"> <a href="/user/dashboard" class="landing-link" style="font-size: 16px;">My Dashboard</a></li>
                        <li class="<%= active_class('/users/sign_out') %>"><a href='/users/sign_out' class="landing-link" data-method='delete' style="font-size: 16px;">Sign out</a></li>
                        
                         <% else %>
                        <li class="<%= active_class('/users/sign_up') %>"><a href="/users/sign_up" class="landing-link" style="font-size: 16px;">Sign Up</a></li>
                         <% end %>
                         
                        <li class="<%= active_class('/bios/meet_us') %>"><a href="/bios/meet_us" class="landing-link" style="font-size: 16px;">Meet Us</a></li>
                        <li class="<%= active_class('/blog') %>"><a href="/blog" class="landing-link" style="font-size: 16px;">Blog</a></li>
                       
						<li id="bookresources"><a href="#" id="expand-book-resource-form" class="landing-link" style="font-size: 16px;">Book Resources</a></li>
						<% if user_signed_in? %>
						
						<% else %>
						<li class="<%= active_class('/users/sign_in') %>"><a href="/users/sign_in" class="landing-link" style="font-size: 16px;">Sign In</a></li>
						 <% end %>
						
                    </ul>


                        <div class="bg-left"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 rem-padd">
                    <div class="left">
                        <span class="">Dream Catcher Coaching - 2019</span>
                        <div class="bg-left"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 p-0">
                    <div class="right">
						<span style="float:left"><a target="_blank" href="https://twitter.com/tinashe_claudio"><i class="fa fa-twitter fa-2" aria-hidden="true"></i></a></span>
						<span style="float:left"><a target="_blank" href="https://twitter.com/tinashe_claudio"><i class="fa fa-linkedin fa-2" aria-hidden="true"></i></a></span>
                        <span style="float:right"><a href="#" class="scroll" style="margin-right:25px">To Top<i class="arrow_carrot-up_alt2"></i></a></span>
                        <div class="bg-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ .container-->
    </footer>
    
<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Make an Appointment</h2>
                <h4>Select the Time</h4>
            </div>
            <div class="modal-body">
                <div class="times">
                    <form>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn time-radio">
                                <input type="radio" name="options" id="option1">08:00
                                <span>Available</span>
                            </label>
                            <label class="btn time-radio">
                                <input type="radio" name="options" id="option2">09:00
                                <span>Available</span>
                            </label>
                            <label class="btn time-radio">
                                <input type="radio" name="options" id="option3">10:00
                                <span>Available</span>
                            </label>
                            <label class="btn time-radio">
                                <input type="radio" name="options" id="option4">11:00
                                <span>Available</span>
                            </label>
                            <label class="btn time-radio not-available">
                                <input type="radio" name="options" id="option5">12:00
                                <span>Not available</span>
                            </label>
                            <label class="btn time-radio">
                                <input type="radio" name="options" id="option6">13:00
                                <span>Available</span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control framed" name="modal-first-name" placeholder="First Name" required>
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control framed" name="modal-last-name" placeholder="Last Name" required>
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control framed" name="modal-email" placeholder="E-mail" required>
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control framed" name="modal-number" placeholder="Number" pattern="\d*" required>
                                </div><!-- /.form-group -->
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn pull-right btn-primary" id="modal-submit">Contact Me</button>
                            </div><!-- /.form-group -->
                        </div>
                    </form>
                </div><!-- /.times -->
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

   <%= javascript_include_tag :application, :jquerymin, :bootstrapmin, :zabutocalendarmin, :jquerythemepunchtoolsmin, :jquerythemepunchrevolutionmin, :revolutionextensionvideomin, :revolutionextensionslideanimsmin, :revolutionextensionactionsmin, :revolutionextensionlayeranimationmin, :revolutionextensionkenburnmin, :revolutionextensionnavigationmin, :revolutionextensionmigrationmin, :revolutionextensionparallaxmin, :custom, :bootstrapselectmin  %>

  <%= render "css_overrides" %>
  <script type="text/javascript">
    $(document).ready(function() {
          $("#book-resource-form").css({'display': 'none'});
          $('#expand-book-resource-form').click(function() {
               $(".home_page").fadeOut("slow");
               $("#bookresources").addClass("active");
               $("#book-resource-form").fadeIn("slow");
          })
          $('#collapse-book-resource-form').click(function() {
                $("#book-resource-form").fadeOut("slow");
                $(".home_page").fadeIn("slow");
          })
          $(".arrow_carrot-up_alt2").on("click", function(event) {
              event.preventDefault();
              $("html, body").animate({ scrollTop: 0 }, "slow");
              return false;
          })

    });
  </script>
</html>
