<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title><%= title %></title>
    <!-- wysihtml5 CSS 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.css" type="text/css">-->

  <%= stylesheet_link_tag :inbox, :dataTablesbootstrap4, :stylemin, :bootstrapwysihtml5 %>
  <%= csrf_meta_tags %>

  <title><%= title %></title>

<style>
.contact_mrgin_left{
    margin-left: 200px;
}
</style>
  
</head>

<!--
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-position="fixed" top="0px">
      <span class="icon-toggle"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="../../assets/branding/DreamCatcher_Feather_Transparent_Small.png" style="float:left;">
      <div style="float:right; padding-top: 5px;"><%= current_user.first_name %>'s Dashboard</div></a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav pull-right">
      <a class="navbar-brand" href="https://www.facebook.com/DreamCatcher-1845647825736246"><i class="fa fa-facebook"></i></a>
      <a class="navbar-brand" href="mailto:nmahupete@qliomaha.com"><i class="fa fa-envelope"></i></a>
      <li class="dropdown pull-right">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
         <h3 class="glyphicon glyphicon-menu-hamburger" style="margin:0px;"></h3></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <% if current_user.is_an_admin? %>
            <li><a href="/user/dashboard">Admin Dashboard</a></li>
          <% else %>
            <li><a href="/user/dashboard">Main Dashboard</a></li>
            <li><a href="/user/group-dashboard">Group Dashboard</a></li>
          <% end %>

          <li><a href='/users/edit'>Edit my Account</a></li>
          <li><a href='/users/sign_out' data-method='delete'>Sign out</a></li>

        </ul>
      </li>
    </ul>
  </div>
</div>

<body class="container">
  <% if current_user.is_an_admin? && current_user.is_super_admin? == false %>
    <div class="row">  
      <h2 style="color:red; float:left; margin-left:25%;">ADMIN DASHBOARD</h2>
      <ul class="dropdown" style="text-decoration:none; float:left;">
        <a class="btn btn-default " role="button" data-toggle="dropdown" href="#">
         <h4 style="margin:0px;">Navigate</h4></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <li><a href="/">Users</a></li>
          <li><a href="/mentorships">Mentorships</a></li>
          <li><a href="/plans">Plans</a></li>
          <li><a href="/messages">User Messages</a></li>
          <li><a href="/groups">Groups</a></li>
          <li><a href="/content_fields">Content Fields</a></li>
          <li><a href="/images">Images</a></li>
          <li><a href="/quotes">Quotes</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </ul>
    </div>

  <% elsif current_user.is_super_admin? %>

    <div class="row">  
      <h2 style="color:red; float:left; margin-left:25%;">SUPER ADMIN DASHBOARD</h2>
      <ul class="dropdown" style="text-decoration:none; float:left;">
        <a class="btn btn-default " role="button" data-toggle="dropdown" href="#">
         <h4 style="margin:0px;">Navigate</h4></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <li><a href="/">New Users</a></li>
          <li><a href="/admin_messages">Admin Messages</a></li>
          <li><a href="/bios">Public Bios</a></li>
          <li><a href="/bio_questions">Bio Questions</a></li>
          <li><a href="/bio_answers">Bio Answers</a></li>
          <li><a href="/book_resources">Book Resources</a></li>
        </ul>
      </ul>
    </div>

  <% end %>


  </body>
</html>
  

  <footer style="margin-top: 100px;">
    <center>
      2018, Dream Catcher LLC
    </center>
  </footer>
-->
<body class="skin-default-dark logo-center fixed-layout">
	  <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"><%= title %></p>
        </div>
    </div>
    
    <div id="main-wrapper">
		 <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                       
                            <!-- Dark Logo icon 
                            <img src="../assets/images/DreamCatcher_Feather_Transparent_Small.png" alt="homepage" class="dark-logo" />
                          
                            <img src="../assets/images/DreamCatcher_Feather_Transparent_Small.png" alt="homepage" class="light-logo" />-->
                        </b>
                       
                        <!-- Logo text <span>
                      
                         <img src="../assets/images/DreamCatcher_Feather_Transparent_Small.png" alt="homepage" class="dark-logo" />
                  
                         <img src="../assets/images/DreamCatcher_Feather_Transparent_Small.png" class="light-logo" alt="homepage" /></span>--> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item">
<!--
                            <form class="app-search d-none d-md-block d-lg-block">
                                <input type="text" class="form-control" placeholder="Search & enter">
                            </form>
-->
                        </li>
                        <div class="brand contact_mrgin_left"><a href="/"><img src="/assets/branding/logo.png" style="width: 180px !important;margin-top: 5px;margin-bottom: 5px;height: 60px;"></a></div>
                    </ul>

                    
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                             <a class="navbar-brand" href="https://www.facebook.com/DreamCatcher-1845647825736246"><i class="fa fa-facebook"></i></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-note"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a> -->
                            <a class="navbar-brand" href="mailto:nmahupete@qliomaha.com">
                             <i class="fa fa-envelope"></i></a>
                           
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                       
                        <!-- ============================================================== -->
                        <!-- User Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../assets/branding/DreamCatcher_Feather_Transparent_Small.png" alt="user" class=""> <span class="hidden-md-down"><%= current_user.first_name %>'s Dashboard &nbsp;<i class="fa fa-angle-down"></i></span> </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
								
								
								 <% if current_user.is_an_admin? %>
                                <!-- text-->
                                <a href="/user/dashboard" class="dropdown-item"><i class="ti-user"></i> Admin Dashboard</a>
                                 <% else %>
                                <!-- text-->
                                <a href="/user/dashboard" class="dropdown-item"><i class="ti-wallet"></i> Main Dashboard</a>
                                <a href="/user/group-dashboard" class="dropdown-item"><i class="ti-wallet"></i> Group Dashboard</a>
                                 <% end %>
                                <!-- text-->
                                <div class="dropdown-divider"></div>
                                <!-- text-->
                                <a href="/users/edit" class="dropdown-item"><i class="ti-settings"></i> Edit my Account</a>
                                <!-- text-->
                                <div class="dropdown-divider"></div>
                                <!-- text-->
                                <a href="/users/sign_out" class="dropdown-item"  data-method='delete'><i class="fa fa-power-off"></i> Sign out</a>
                                <!-- text-->
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End User Profile -->
                        <!-- ============================================================== -->
                        <!-- <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li> -->
                    </ul>
                </div>
            </nav>
        </header>
        
         <% if current_user.is_an_admin? && current_user.is_super_admin? == false %>
         
			  <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                       
						<li><a href="/"><i class="ti-layout-grid2">Users</a></li>
						  <li><a href="/mentorships"><i class="ti-layout-grid2">Mentorships</a></li>
						  <li><a href="/plans"><i class="ti-layout-grid2">Plans</a></li>
						  <li><a href="/messages"><i class="ti-layout-grid2">User Messages</a></li>
						  <li><a href="/groups"><i class="ti-layout-grid2">Groups</a></li>
						  <li><a href="/content_fields"><i class="ti-layout-grid2">Content Fields</a></li>
						  <li><a href="/images"><i class="ti-layout-grid2">Images</a></li>
						  <li><a href="/quotes"><i class="ti-layout-grid2">Quotes</a></li>
						  <li><a href="/resources"><i class="ti-layout-grid2">Resources</a></li>
						  
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        
           <% elsif current_user.is_super_admin? %>
         <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                       
						  <li><a href="/"><i class="ti-layout-grid2"></i>New Users</a></li>
						  <li><a href="/admin_messages"><i class="ti-layout-grid2"></i>Admin Messages</a></li>
						  <li><a href="/bios"><i class="ti-layout-grid2"></i>Public Bios</a></li>
						  <li><a href="/bio_questions"><i class="ti-layout-grid2"></i>Bio Questions</a></li>
						  <li><a href="/bio_answers"><i class="ti-layout-grid2"></i>Bio Answers</a></li>
						  <li><a href="/book_resources"><i class="ti-layout-grid2"></i>Book Resources</a></li>
						  
<!--
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard <span class="badge badge-pill badge-cyan ml-auto">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="index.html">Minimal </a></li>
                                <li><a href="index2.html">Analytical</a></li>
                                <li><a href="index3.html">Demographical</a></li>
                                <li><a href="index4.html">Modern</a></li>
                            </ul>
                        </li>
-->
                       
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <% end %>
        <%= yield %>  
        <footer class="footer">
            © 2018, Dream Catcher LLC
        </footer>
        
	</div>	
   
	<%= javascript_include_tag :application ,:jquerymin, :poppermin,  :bootstrapmin, :perfectscrollbarjquerymin, :waves, :sidebarmenu ,:stickykitmin, :jquerysparklinemin, :custommin, :datatablesmin, :wysihtml, :bootstrapwysihtml5, :dropzone %>
    <%= render "css_overrides" %>

    <script>
    $(document).ready(function() {
     $('.textarea_editor').wysihtml5();
     $('#myTable').DataTable();
        $(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');

    </script>
</body>	
