<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  
    <!-- Rich Text Editor CSS/Scripts -->
  <link rel="stylesheet" type="text/css" href="trix.css">
  <script type="text/javascript" src="trix.js"></script>
</head>

<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-position="fixed" top="0px">
      <span class="icon-toggle"></span>
    </button>
    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-user"> </span>    <%= current_user.first_name %>'s Dashboard</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav pull-right">
      
      <li class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
         <h3 class="glyphicon glyphicon-menu-hamburger" style="margin:0px;"></h3></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <li><a href="/user/dashboard">Main Dashboard</a></li>
          <li><a href="/user/group-dashboard">Group Dashboard</a></li>
          <li><a href='/users/edit'>Edit my Account</a></li>
          <li><a href='/users/sign_out' data-method='delete'>Sign out</a></li>

        </ul>
      </li>
    </ul>
  </div>
</div>

<body class="container">

  <%= yield %>  <!-- //////////////////////////YIELD -->

  </body>
</html>
  
  <%= render "javascript" %>
  <%= render "css_overrides" %>

  <footer style="margin-top: 100px;">
    <center>
      2018, Dream Catcher LLC
    </center>
  </footer>