 <% if current_user.is_an_admin? || current_user.is_super_admin? %>
	
<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="utf-8"/>
      <title>Metronic | Scrollable Examples</title>
      <meta name="description" content="Scrollable datatables examples">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <script>
         WebFont.load({
             google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
             active: function() {
                 sessionStorage.fonts = true;
             }
         });
      </script>
      <%= stylesheet_link_tag :datatablesbundle, :vendorsbundle, :stylebundle, :light, :lights, :dark, :darks, :custom_style %>
    <%= csrf_meta_tags %>
      <link rel="shortcut icon" href="/assets/images/favicon.ico" />

      <script>
         (function(h,o,t,j,a,r){
             h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
             h._hjSettings={hjid:1070954,hjsv:6};
             a=o.getElementsByTagName('head')[0];
             r=o.createElement('script');r.async=1;
             r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
             a.appendChild(r);
         })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-37564768-1');
      </script>
   </head>
   <body  class="kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading"  >
      <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed " >
         <div class="kt-header-mobile__logo">
            <a href="/">
            <img alt="Logo" src="/assets/images/logo-light.png"/>
            </a>
         </div>
         <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
         </div>
      </div>
      <div class="kt-grid kt-grid--hor kt-grid--root">
         <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
               <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                  <div class="kt-aside__brand-logo">
                    
                     <img style="height: 60px;width: 200px;" alt="Logo" src="/assets/DreamCatcherLogo01_White.png"/>
                  </div>
                  <div class="kt-aside__brand-tools">
                     <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
                        <span>
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <polygon id="Shape" points="0 0 24 0 24 24 0 24"/>
                                 <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) "/>
                                 <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) "/>
                              </g>
                           </svg>
                        </span>
                        <span>
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <polygon id="Shape" points="0 0 24 0 24 24 0 24"/>
                                 <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" id="Path-94" fill="#000000" fill-rule="nonzero"/>
                                 <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "/>
                              </g>
                           </svg>
                        </span>
                     </button>
                  </div>
               </div>
               
               
          <% if current_user.is_an_admin? && current_user.is_super_admin? == false %>
               <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                  <div id="kt_aside_menu"
                     class="kt-aside-menu "
                     data-ktmenu-vertical="1"
                     data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500" >
                     <ul class="kt-menu__nav ">
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Users</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/mentorships" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Mentorships</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/plans" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Plans</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/messages" class="kt-menu__link ">
                           <span class="kt-menu__link-text">User Messages</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/groups" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Groups</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/content_fields" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Content Fields</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/images" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Images</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/quotes" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Quotes</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/resources" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Resources</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
           <% elsif current_user.is_super_admin? %> 
               <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                  <div id="kt_aside_menu"
                     class="kt-aside-menu "
                     data-ktmenu-vertical="1"
                     data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500" >
                     <ul class="kt-menu__nav ">
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Dashboard</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/" class="kt-menu__link ">
                           <span class="kt-menu__link-text">New users</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/employees" class="kt-menu__link ">
                           <span class="kt-menu__link-text">New Employees</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/admin_messages" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Admin Messages</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/bios" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Public Bios</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/bio_questions" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Bio Questions</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/bio_answers" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Bio Answers</span>
                           </a>
                        </li>
                        <li class="kt-menu__item " aria-haspopup="true" >
                           <a  href="/book_resources" class="kt-menu__link ">
                           <span class="kt-menu__link-text">Book Resources</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
                <% end %>
               
               
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
               <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " >
                  <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                  <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                     <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default "  >
                        <ul class="kt-menu__nav kt-menu__nav_custom ">

                            <% if current_user.is_an_admin? %>
								<li class="<%= active_class('/user/dashboard') %>" data-ktmenu-submenu-toggle="click" aria-haspopup="true"> <a href="/user/dashboard" class="kt-menu__link kt-menu__toggle"><h3 class="">Admin Dashboard</h3></a></li>
                           <% else %>
								<li class="<%= active_class('/user/dashboard') %>" data-ktmenu-submenu-toggle="click" aria-haspopup="true"> <a href="/user/dashboard" class="kt-menu__link kt-menu__toggle"><h3 class="">Main Dashboard</h3></a></li>
								<li class="<%= active_class('/user/group-dashboard') %>" data-ktmenu-submenu-toggle="click" aria-haspopup="true"> <a href="/user/group-dashboard" class="kt-menu__link kt-menu__toggle"><h3 class="">Group Dashboard</h3></a></li>
                           <% end %>
                           
                        </ul>
                     </div>
                  </div>
                  <div class="kt-header__topbar">
                     <div class="kt-header__topbar-item kt-header__topbar-item--user">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                           <div class="kt-header__topbar-user">
                              <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                              <span class="kt-header__topbar-username kt-hidden-mobile"> <%= current_user.first_name %></span>
                              <img class="kt-hidden" alt="Pic" src="/assets/300_25.jpg" />
                           </div>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
                           <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(/assets/bg-1.jpg)">
                              <div class="kt-user-card__avatar">
                                 <img class="kt-hidden" alt="Pic" src="/assets/300_25.jpg" />
                              </div>
                              <div class="kt-user-card__name">
                                <%= current_user.first_name %>'s Dashboard
                              </div>
                           </div>
                           <div class="kt-notification">
                              <span  class="kt-notification__item">
                                 <div class="kt-notification__item-icon">
                                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                                 </div>
                                 <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title kt-font-bold">
                                      <a href="/users/edit" > My Profile </a>
                                    </div>
                                    <div class="kt-notification__item-time">
                                       Account settings and more
                                    </div>
                                 </div>
                              </span>
                              <div class="kt-notification__custom">
                                 <a href="/users/sign_out" class="btn btn-label-brand btn-sm btn-bold">Sign Out</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <%= yield %>  
               <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
                  <div class="kt-footer__copyright">
                     2019&nbsp;&copy;&nbsp;<a href="#" target="_blank" class="kt-link">Keenthemes</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
  
      <div id="kt_scrolltop" class="kt-scrolltop">
         <i class="fa fa-arrow-up"></i>
      </div>
      <script>
         var KTAppOptions = {"colors":{"state":{"brand":"#5d78ff","dark":"#282a3c","light":"#ffffff","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
      </script>
      
      <%= javascript_include_tag :application ,:jquerymin, :vendorsbundle,  :scriptsbundle, :datatablesbundle, :scrollable, :appbundle %>
    <%= render "css_overrides" %>
      
   </body>
</html>


 <% else %>
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title><%= title %></title>
    <!-- wysihtml5 CSS 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.css" type="text/css">-->

		<%= stylesheet_link_tag :inbox, :dataTablesbootstrap4, :stylemin, :bootstrapwysihtml5 %>
    <%= csrf_meta_tags %>

  <title><%= title %></title>
  <style>
.dropdown-menu .dropdown-item:active {
  background: transparent;
  color: #333;
}
.border-left {
  border: 1px solid #eee !important;
}
.bg-light {
  background-color: #fff !important;
}
.new-design .card-body {
  background-color: #fff !important;
}
.page-wrapper {
  background: #ffffff !important;
}
body {
  background-color: #ffffff;
}
.new-design {
  margin-bottom: 50px;
}
.simple-spacer h3 {
  margin-bottom: 15px;
}
.navbar-nav li {
  line-height: 47px;
  padding: 0px;
}
.navbar-nav a {
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 15px;
}
.navbar-nav a:hover {
  background: transparent;
}
.current-user{line-height:65px;}
.close {
  float: right;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  top: 10px;
  bottom: 0px;
  position: absolute;
  right: 15px;
}
.card {
  margin: 100px 20px 15px 175px;
}
.footer, .page-wrapper {
 /* margin-left: 150px; */
}

.navbar-nav li {
    line-height: 45px;margin-right: 10px;
}
.coachcard { margin: 30px 0px; } 
.navbar-nav a {
  color: #676767 !important;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 15px;
}
.navbar-nav a:hover {
  color: #000 !important;
  background-color: #faf9f6;
  border-radius: 0px;
 
}
.navbar-nav a:active {
  color: #000 !important;
border-radius: 0px;
 
background-color: #37b048 !important;
}

.skin-default-dark .topbar {
  background: #fff ;
}
.main-dash {
  margin-top: 10px;
}
.main-dash1 {
 margin-top: 10px;
}
.current-user {
  line-height: 45px;
}
.main-dash1 a:hover {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-dash1 a:active {
  padding-top: 10px;
  padding-bottom: 10px;
}
.card_group {
margin: 0px 0px 30px 135px;
}
.btn-success {
	color: #fff;
	background-color: #319d40 !important;
	border-color: #319d40 !important;
}
 
.btn-success.focus, .btn-success:focus {
	box-shadow: none !important;
}
.navbar-nav a {
	font-family: Archivo;
	text-transform: uppercase;
}
.navbar-nav a:hover {
	color: black !important;
	
}

#main-wrapper .navbar-nav a:active {
	color: #fff !important;
	background-color: #37b048 !important;
}
.navbar-nav li {position: relative;}

.navbar-nav li a::after {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
    visibility: hidden;
	content: "";
	height: 3px;
	background-color: #37b048 !important;
	position: absolute;
	width: 100%;
	bottom: 7px;
	left: 0px;
	right: 0;
    margin: auto;
	z-index: 9999999999 !important;
	max-width: 141px;
	display: block;
}
.navbar-nav li.active a::after {

    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;

}

body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;}
@media screen and (min-device-width: 200px) and (max-device-width: 767px) { 
.footer, .page-wrapper {
  margin-left: 0px;
}
}
</style>
</head>
 
<style>
.contact_mrgin_left{
    margin-left: 200px;
}
#dashboard-menu{
	display:none !important;
}
@media screen and (min-width: 100px) and (max-width: 768px) { 
   #dashboard-menu{
	display:block  !important;
	}	
  .desktop-nav{display:none !important;}
  .custom-nav-mobile .navbar-header{width: 100% !important;padding-right: 10px !important; min-width: 100% !important;}
  .custom-nav-mobile .navbar-header .navbar-brand{ float:left;}
  .custom-nav-mobile .navbar-header .navbar-toggle{ float: right;background: transparent;border: 0px;font-size: 29px;color: #000;}
  .custom-nav-mobile .navbar-header .navbar-toggle:hover{ color: #004b84;}  
  .custom-nav-mobile #dashboard-menu.collapse:not(.show) {  display: none !important;}
  .topbar .top-navbar .navbar-collapse { display: flex; width: 100%;  position: absolute;  top: 65px;  background: #fff; border-top:1px solid #dedede}
  .mobile-nav{list-style: none;padding: 0;margin: 0;width: 100%;float: left;}
  .mobile-nav li{ float:left; width:100%; padding:0; border-bottom:1px solid #dedede}
  .mobile-nav li a{ display:block; padding: 0 15px; line-height:45px; color: #676767 !important;font-weight: bold;font-size: 16px;}
  .mobile-nav li a:hover{ border-radius:0; background-color: #f8f9fa;}  
  .navbar-header {text-align: center;}
.navbar-brand {float: none !important; margin: 0 auto; text-align: center;}
}


</style>
<body class="skin-default-dark logo-center fixed-layout">
	  <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"><%= title %></p>
        </div>
    </div>
    
    <div id="main-wrapper">
		 <header class="topbar" style="border-bottom: 1px solid #eee;">
			 
			
            <nav class="navbar top-navbar navbar-expand-md navbar-dark custom-nav-mobile">
                <div class="navbar-header col-xs-12 d-md-none">
                    <a class="navbar-brand" href="/">
						<img src="/assets/branding/logo.png" style="width: 100px !important;margin-top: 13px;margin-bottom: 13px;height: 40px;">
                        
                    </a>
                    <button type="button" class="navbar-toggle d-block d-md-none waves-effect waves-dark" data-toggle="collapse" data-target="#dashboard-menu">
					<i class="ti-menu"></i>
				  </button>
                </div>
                <div class="navbar-collapse desktop-nav">
                    <ul class="navbar-nav mr-auto">
<!--dashboard-menu
                        <li class="nav-item"> 
							<a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark">
								<i class="ti-menu"></i>
							</a> 
							</li>
-->
                          <% if current_user.is_an_admin? || current_user.is_super_admin? %>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <% end %>
                        
                       
                     <li class="main-dash1" > <a class="current-user"> <%= current_user.first_name %>'s Dashboard</a></li>
						   <% if current_user.is_an_admin? %>
								<li class="<%= active_class('/user/dashboard') %> main-dash"> <a href="/user/dashboard"><i class="ti-user"></i> Admin Dashboard</a></li>
                           <% else %>
								<li class="<%= active_class('/user/dashboard') %> main-dash"> <a href="/user/dashboard" class="dropdown-item">Main Dashboard</a></li>
								<li class="<%= active_class('/user/group-dashboard') %> main-dash"> <a href="/user/group-dashboard" class="dropdown-item"> Group Dashboard</a></li>
                           <% end %>
								<div class="brand "><a href="/"><img src="/assets/branding/logo.png" style="width: 100px !important;margin-top: 13px;margin-bottom: 13px;height: 40px;"></a></div>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                       <!--  <li class="nav-item dropdown">
                             <a class="navbar-brand" href="https://www.facebook.com/DreamCatcher-1845647825736246"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="navbar-brand" href="mailto:nmahupete@qliomaha.com">
                             <i class="fa fa-envelope"></i></a>
                        </li> -->
                       




                            
                               <li > <div class="dropdown-divider"></div></li>
                              <li class="<%= active_class('/users/edit') %>" >  <a href="/users/edit" class="dropdown-item"> Edit my Account</a></li>
                              
                                <div class="dropdown-divider"></div>
                              <li>  <a href="/users/sign_out" class="dropdown-item"  data-method='delete'> Sign out</a></li> 



                          <!--   <div class="dropdown-menu dropdown-menu-right animated flipInY">
							


                              
                            </div> -->
                        </li>
                       
                    </ul>
                </div>
                
                <div class="collapse navbar-collapse d-md-none d-ld-none  d-xl-none" id="dashboard-menu" >
					<ul class="mobile-nav">
						<li>
                            <a class="current-user"> <%= current_user.first_name %>'s Dashboard</a></li>
                            <% if current_user.is_an_admin? %>
                           <li>
                             <a href="/user/dashboard"><i class="ti-user"></i> Admin Dashboard</a></li>
                                 <% else %>
                              <li > <a href="/user/dashboard" class="dropdown-item">Main Dashboard</a></li>
                               <li > <a href="/user/group-dashboard" class="dropdown-item"> Group Dashboard</a></li>
                                 <% end %>
					 <li>  <a href="/users/edit" class="dropdown-item"> Edit my Account</a></li>
					  <li>  <a href="/users/sign_out" class="dropdown-item"  data-method='delete'> Sign out</a></li> 
					</ul>
				</div>
            </nav>
        </header>
        

         <% if current_user.is_an_admin? && current_user.is_super_admin? == false %>
			  <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                       
						<li><a href="/"><i class="ti-layout-grid2">Users</a></li>
						  <li><a href="/mentorships"><i class="ti-layout-grid2">Mentorships</a></li>
						  <li><a href="/plans"><i class="ti-palette">Plans</a></li>
						  <li><a href="/messages"><i class="ti-email">User Messages</a></li>
						  <li><a href="/groups"><i class="ti-layout-grid2">Groups</a></li>
						  <li><a href="/content_fields"><i class="ti-files">Content Fields</a></li>
						  <li><a href="/images"><i class="ti-layout-grid2">Images</a></li>
						  <li><a href="/quotes"><i class="ti-light-bulb">Quotes</a></li>
						  <li><a href="/resources"><i class="ti-layout-media-right-alt">Resources</a></li>
						  
                    </ul>
                </nav>
            </div>
        </aside>
           <% elsif current_user.is_super_admin? %>
         <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
						  <li><a href="/"><i class="icon-speedometer"></i>Dashboard</a></li>
              <li><a href="/"><i class="ti-layout-grid2"></i>New users</a></li>
              <li><a href="/employees"><i class="ti-layout-media-right-alt"></i>New Employees</a></li>
						  <li><a href="/admin_messages"><i class="ti-email"></i>Admin Messages</a></li>
						  <li><a href="/bios"><i class="ti-palette"></i>Public Bios</a></li>
						  <li><a href="/bio_questions"><i class="ti-files"></i>Bio Questions</a></li>
						  <li><a href="/bio_answers"><i class="ti-light-bulb"></i>Bio Answers</a></li>
						  <li><a href="/book_resources"><i class="ti-layout-media-right-alt"></i>Book Resources</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <% end %>
        
        <%= yield %>  
        <footer class="footer">
            © 2019, Dream Catcher Coaching 
        </footer>
        
	</div>	
   
	<%= javascript_include_tag :application ,:jquerymin, :poppermin,  :bootstrapmin, :perfectscrollbarjquerymin, :waves, :sidebarmenu ,:stickykitmin, :jquerysparklinemin, :custommin, :datatablesmin, :wysihtml, :bootstrapwysihtml5, :dropzone %>
    <%= render "css_overrides" %>

    <script>
    $(document).ready(function() {
     $('.textarea_editor').wysihtml5();
     $('#myTable').DataTable();
     $('#myTables').DataTable();
        $(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');

    </script>
</body>	
<% end %>  
