<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <h2 class="page-header text-center">Edit <%= current_user.first_name %>'s Account</h2>

        <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },
                      html: { class: "form-horizontal center"} do |f| %>

          <a class="actions btn btn-warning btn-lg btn-block" href="/notification_preferences">
            Edit Notification Preferences
          </a>

          <hr />
          
          <div class="form-group">
            Email Address
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            SMS Phone Number (Our service is free, but message/data rates may apply.)
            <%= f.telephone_field :sms_phone_number, class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <hr />
          <div class="form-group">
            Change Password - Leave blank if you don't want to change it.
            <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password", class: "form-control" %>
            <% if @validatable %>
              <p class="help-block"><%= @minimum_password_length %> characters minimum</p>
            <% end %>
          </div>
          <hr />

          <div class="form-group">
            Enter your current password to confirm the above changes.
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-success btn-lg btn-block" %>
          </div>
          <%= devise_error_messages! %>
        <% end %>
      </div>
      <br>
      <br>
      <h3 class="page-header text-center">Unhappy?</h3>
      <p><%= button_to "Delete my account", registration_path(resource_name), class: "btn btn-danger btn-lg btn-block", data: { confirm: "Are you sure?" }, method: :delete %></p>
      <center> <%= link_to "BACK", :back %></center>
    </div>
  </div>
</div> 
 -->
<style>
.btn-success {
	color: #fff;
	background-color: #319d40 !important;
	border-color: #319d40 !important;
}
</style>
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
  <div class="row">
  	 <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Edit <%= current_user.first_name %>'s Account</h4>
                                <!-- <h6 class="card-subtitle">made with bootstrap elements</h6> -->
                   <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },html: { class: "form-horizontal center"} do |f| %>
                   					</br>
                   					<a id="refresh" class="btn btn-warning" href="/notification_preferences">
            Edit Notification Preferences</a>

                                    <!-- <div class="form-group">
                                        <label for="exampleInputuname">User Name</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                    	</br>
                                        <label for="exampleInputEmail1">Email address</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon2"><i class="ti-email"></i></span>
                                            </div>
                                             <%= f.email_field :email, autofocus: true, class: "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd1">Password</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3"><i class="ti-lock"></i></span>
                                            </div>
                                             SMS Phone Number (Our service is free, but message/data rates may apply.)
           									 <%= f.telephone_field :sms_phone_number, class: "form-control" %>
                                        </div>
                                    </div>
                                     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
							            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
							          <% end %>
							          <hr />
                                    <div class="form-group">
                                        <!-- <label for="pwd2">New Password</label> -->
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon4"><i class="ti-lock"></i></span>
                                            </div>
                                            Change Password - Leave blank if you don't want to change it.
            								<%= f.password_field :password, autocomplete: "off", placeholder: "New Password", class: "form-control" %>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <!-- <label for="pwd2">Confirm New Password</label> -->
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon4"><i class="ti-lock"></i></span>
                                            </div>
                                            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password", class: "form-control" %>
								            <% if @validatable %>
								              <p class="help-block"><%= @minimum_password_length %> characters minimum</p>
								            <% end %>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                      <!--   <label for="pwd2">Confirm Password</label> -->
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon4"><i class="ti-lock"></i></span>
                                            </div>
                                            Enter your current password to confirm the above changes.
           									 <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password", class: "form-control" %>
                                        </div>
                                    </div>
                                   <div class="actions">
                                   	 <%= f.submit "Update", class: "btn btn-success" %>
                                   </div>
                                    <!-- <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button> -->
                                    <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button> -->
                                <%= devise_error_messages! %>
     						   <% end %>
						      <h3 class="page-header text-center">Unhappy?</h3>
						      </br>
						      <center><p class="text-center"><%= button_to "Delete my account", registration_path(resource_name), class: "btn btn-danger ", data: { confirm: "Are you sure?" }, method: :delete %></p></center>
						      </br>
						      <center> <%= link_to "BACK", :back %></center>
						      </br>
						      <div class="brand"><center><a href="/"><img src="/assets/branding/logo.png" style="width: 180px !important;"></a></center></div>
						      </br>
                            </div>
                         
                        </div>
                    </div>
                     <div class="col-lg-4"></div>
	               </div>
	            </div>
	        </div>

<script type="text/javascript">
	$(document).ready(function() {
		$("#footer").hide();
	});

</script>	        
